#breadcrumbs{
  position: relative;
  border-top: 1px solid $off-white;

  .breadcrumb{
    margin-bottom: $unit;
    height: $unit * 2;
    padding: 0 #{$unit * 3};

    display: flex;
    align-items: center;

    .share-button{
      position: relative;
      height: auto;
      display: flex;
      align-items: center;

      a{
        display: inline-flex;
        align-items: center;
        height: $size0;
        cursor: pointer;

        &:hover{
          svg{
            g{
              fill: $dark-blue !important;
            }
          }
        }
      }

      span{
        padding-left: $size-1;
        transform: translateY(0.175em);
        padding-bottom: 0.1em;
        font-size: $size-1;
      }

      svg{
        // width: $size0 !important;
        // height: $size1 !important;
      }
    }


    .trail-col{
      height: $size0;
      line-height: $size0;

      span{
        font-size: $size-1;
        padding: 0 $size-2;
        border-left: 1px solid $off-white;

        &.active{
          cursor: default;
          color: $off-white-text;
        }
      }
      .home{
        position: relative;
        border-left: none;

        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(-100%, -50%);
          width: $size0;
          height: $size0;
          border: 1px solid $off-white-text;
          background: $white;
          cursor: pointer;
          transition: all 0.2s ease;
        }

        &:hover{
          &:after{
            border: 1px solid $off-white-text;
            background: $off-white;
          }
        }
      }
    }

    @include tablet(){
      flex-wrap: wrap;
      height: auto !important;

      .share-button{
        position: relative;
        height: $unit * 2;
      }
      .trail-col{
        height: auto;
        text-indent: 0;
        margin: 0;
        padding-left: 0 !important;
      }
      .home{
        &:after{
          display: none;
        }
      }
    }

    span,a{
      line-height: 1em;
    }

    a{
      color: $primary;
      &:hover{
        text-decoration: none;
        color: $dark-blue;
      }
    }
  }

}
