@charset "UTF-8";

/* CALENDAR PORTLET */
#portlet_com_liferay_calendar_web_portlet_CalendarPortlet {
	
	.scheduler-base-content {

		> .yui3-widget-bd {
			border: none;
		}

		.scheduler-base-controls {
            margin-bottom: 36px;
			width: 100%;
	
			.scheduler-base-icon-next, 
			.scheduler-base-icon-prev  {
				border: none;
				display: inline-block;
				float: none;
				padding: 0;
				
				span {
                    font-weight: normal;
                    color: black;
                    margin-right: 1em;
				}
			}
			
			.scheduler-base-today {
				display: none; 
			}
		}

		.scheduler-view-table-content  {
			.yui3-widget-hd {
			    background: $white;
			    border-bottom: 0;
			    color: inherit;
			}
		}
		
		.scheduler-base-views {
			display: none;
		}

        .scheduler-view-table-header-col {

            .scheduler-view-table-header-day {
                color: $blue;
                text-align: left;
            }
        }
	}
	
	.scheduler-view-table-events-overlay-node {
    	border-color: $light-blue;
	    border-radius: 0;
	    padding: 15px
	}
		
	.scheduler-view-table-container, 
	.scheduler-view-table-events-overlay-node {
		.scheduler-event {
			display: none;
    		margin: 0 0 15px 0;
    		overflow: visible;
			
			.scheduler-event-title {
				color: $link-blue;
				display: block;
			    font-size: $size-1;
			    
			    span {
			    	display: inline-block !important;
			    	margin-left: 0.25em;
			    }
			}
			
			.scheduler-event-content {
				color: $link-blue;
				display: block;
			    font-size: $size-1;
			    font-weight: normal;
			    margin: 0;
			    padding: 0;
			}
		}

		.scheduler-view-table-events-overlay-node-close {
		    font-size: $size-1;
		}

		.scheduler-view-table-colgrid {
			border-left: none;
			border-right: none;
		}

		.scheduler-view-table-colgrid-today {
		    background-color: inherit;
		    border: 0;
		}

		.scheduler-view-table-data-col {
			vertical-align: top;
		}		
	
		.scheduler-view-table-data-col-title {
		    border-top: 1px solid $light-blue!important;
		    color: $blue;
		    font-size: $size-1;
		    overflow: visivble;
		    padding: 15px 0;
			text-align: left;
		}
		
		.scheduler-view-table-data-col-title-down {
		    border-top: none;
		}
		
		.scheduler-view-table-data-col-title-today {
		    color: inherit;
			border: none;
			
			&:after {
				content: " Today";
			}
		}
		
		.scheduler-view-month-table-data-col-nomonth {
			font-size: $size-1;
			opacity: 0.5;
		}
		
		.scheduler-view-table-data-event {
		    color: inherit;
		    margin: 0;
		    padding: 0;
			white-space: normal;
		}
		
		.scheduler-view-table-data-first {
			.scheduler-view-table-data-col-title {
			    border-top: 0;
			}
			.scheduler-view-table-grid {
			    border-top: 0;
			}
		}
		
		.scheduler-view-table-events-overlay-node {
		    background-color: inherit;
		    border: none;
		}
		
		.scheduler-view-table-lasso {
		    background: transparent
		}	
		
		.scheduler-view-table-more {
		    color: $link-blue;
			font-size: $size-1;
    		margin-bottom: 15px;
		}
	}
}

.scheduler-event-recorder-popover {
	background: $light-blue;
	border-radius: 0;
	border-color: $blue-med;
	
	&.popover {
		&.top {
			> .arrow {
				border-top-color:  $blue-med;
				
				&:after {
				    border-top-color:  $light-blue;
				}
			}
		}
	}

	.scheduler-event-recorder-form {
		padding: 15px;
	}
	
	.popover-title {
		background: transparent;
		border: none;
		margin: 0;
		padding: 0 0 18px 0;
		
		.scheduler-event-recorder-header {
		
			.scheduler-event-recorder-content {
				background: transparent;
				border: none;
				box-shadow: none;
				color: inherit;
				margin: 0;
				padding: 0;
				
				&:hover {
					background: transparent;
					border: none;
					box-shadow: none;
					color: inherit;
				}
				
			}
		}
	}
	
	.popover-content {
		border: none;
		margin: 0;
		padding: 0;
		
		.scheduler-event-recorder-body {

			.calendar-portlet-event-recorder-calendar-row {
				display: none;
			}

			table {
				tbody {
					tr {
						td {
							margin: 0;
							padding: 0;
							
							&:first-child {
								display: none;
							}
							
							label {
								color: inherit;
								font-size: $size0;
							}
						}
					}
				}
			}
		}

		.btn-toolbar-button {
		
			&.close {
				background: transparent;
				border: none;
				color: $black;
				font-size: $size3;
				font-weight: normal;
				opacity: 1;
				top: 10px;
				
				&:hover {
					background: transparent;
					border: none;
					color: $black;
					opacity: 1;
				}	
			}
		}
	}
	
	.popover-footer {
		border: none;
		margin: 0;
		padding: 0;
	
		.btn-toolbar {
		
			.btn-toolbar-button {
				background: transparent;
				color: $link-blue;
				border: none;
				font-size: $size0;
				padding: 0;
				
				&:focus {
					color: $link-blue;
				}
				
				&.focus {
					color: $link-blue;
				}
				
				span {
					display: none;
				}
			}
		}
	}
	
	#_com_liferay_calendar_web_portlet_CalendarPortlet_eventRecorderUsers, 
	#_com_liferay_calendar_web_portlet_CalendarPortlet_eventRecorderResources {
		display: none;
	}
}	

