
$top: 42%;

section.featured-card{
  padding: $unit 0;
  background: $off-white;
  overflow: hidden;
  transition: all 0.2s ease;

  .featured-card-img-link{
    display: block;
    position: relative;
  }
  .featured-card-img{
    position: relative;
    left: 50%;
    width: 40%;
    transition: all 0.4s cubic-bezier(0.22, 0.52, 0.58, 1);
    transform: translateX(-50%) translateY(120%) rotate(-90deg);
  }

  .featured-card-title{
    @extend .whitney-normal__bold;
  }

  .featured-card-cta{
    display: flex;
    margin-top: $size-3;
    @extend .whitney-normal;
    line-height: 1;
  }

  .underline-link{
    border-bottom: $light-blue;
  }

  .file-extension{
    text-transform: uppercase;
  }

  .file-icon{
    display: inline-block;
    margin-right: $size-3;
  }

  &:hover{
    background: saturate($off-white, 15%);

    .featured-card-img{
      transform: translateX(-50%) translateY($top) rotate(-25deg);
    }
  }
}
