
$top: 42%;

@keyframes normalize-feature-card{
  0%{
    transform: translateX(-50%) translateY($top) rotate(-25deg);
  }
  50%{
    transform: translateX(-50%) translateY($top) rotate(0);
  }
  100%{
    transform: translateX(-50%) translateY(0) rotate(0);
  }
}
@keyframes normalize-feature-card{
  0%{
    transform: translateX(-50%) translateY(0) rotate(0);
  }
  50%{
    transform: translateX(-50%) translateY($top) rotate(0);
  }
  100%{
    transform: translateX(-50%) translateY($top) rotate(-25deg);
  }
}

section.featured-card{
  padding: $unit 0;
  background: $light-blue;
  overflow: hidden;
  transition: all 0.2s ease;

  .row{
    // @include section-padding();
  }

  .featured-card-img-link{
    display: block;
    position: relative;
  }
  .featured-card-img{
    position: relative;
    left: 50%;
    width: 42%;
    transition: all 0.4s ease-in-out;
    transform: translateX(-50%) translateY($top) rotate(-25deg);
  }
  .featured-card-title{
    @extend .whitney-bold;
    margin: $size0 0;
  }
  .featured-card-cta{
    display: flex;
  }

  .file-icon{
    display: inline-block;
  }

  &:hover{
    background: saturate($light-blue, 15%);

    .featured-card-img{
      transform: translateX(-50%) translateY(0) rotate(0deg);
    }
  }
}
