#footer{
  position: relative;
  bottom: 0; left: 0;
  z-index: 1000;
  width: 100%;
  background: $off-white;
  border-top: 1px solid darken($off-white, 10%);

  .container{
    width: 100%;
    @include section-padding();
  }

  .row{
    display: flex;
    align-items: center;
    height: $unit * 2;
    padding-top: 0.3em;
    @include desktop(){
      height: $unit * 4;
    }
  }

  // all are columns in the footer grid
  .footer-jump-to-top,
  .footer-page-links,
  .footer-social-links{
    transform: translateY(-0.18em);
  }

  .footer-jump-to-top{
    svg{
      position: relative;
      transform: translateY(0.2em);
    }
  }

  .footer-page-links{
    a{
      margin-right: $size-2;
    }
  }

  .footer-social-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include desktop(){
      justify-content: flex-end;
    }
  }

  $icon-size: $size0;
  .footer-social-link{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .svg-icon{
    width: $icon-size;
    height: $icon-size;
    margin-right: $size-3;

    &.twitter{
      height: #{$icon-size - 0.1em};
    }
    &.facebook{
      height: #{$icon-size - 0.1em};
      // width: #{$icon-size - 0.22em};
    }
    path{
      fill: $primary;
      transition: all 0.2s ease;
    }
  }

  .footer-social-link:hover{
    .svg-icon{
      path{
        fill: $dark-blue;
      }
    }
  }

  span{
    @extend .whitney-small__bold;
  }

  span,a{
    color: $primary;
  }

}
