.half-slider{
  background: $primary;
  position: relative;
  z-index: 100;

  .slider-container{
    padding: $unit 0 0;
  }

  .slide-image{
    width: 100%;
  }
  .slide-title{
    @extend .whitney-bold__white;
  }
  .slide-text{
    padding-top: $unit;
    width: 50%;
    @include desktop(){
      width: 100%;
    }
  }

  .slider-nav{
    .nav-item{
      background: rgba($white, 0.5) !important;
      &:hover{
        background: rgba($white, 0.75) !important;
      }
      &:active{
        background: $white !important;
      }
    }
  }


  p{
    @extend .presna-normal__white;
    margin: 0;
    a{
      @extend .presna-bold__white;
      @extend .underline-link;
    }
  }

  @include tablet(){
    .col-xl-8{
      margin-bottom: $unit;
      &:last-of-type{
        margin-bottom: 0;
      }
    }
  }

}
