@charset "UTF-8";

.infographiclayout {
	
	.infographic-nav {
	    background-color: $blue-dark;
	    color: $blue-med;
	    font-size: 12px;
	    padding: 1em 0;
	    
	    a {
	    	color: $blue-med;
	    }
	}

    .infographic-info-toggle {
    	color: $blue-dark;
        position: absolute;
        right: 1em;
        top: 1em;
        z-index: 200;
    }
	
	.infographic-content {
		background-color: $blue-med;
	    margin: 0;
		padding: 1em 0;
	}

	.infographic-info {
		padding: 1em 0;
		
        .infographic-aside {
        	color: $blue-light;
	        font-size: 12px;
	        line-height: 1.5em;
        	margin-bottom: 2em;
        }
        
		.infographic-description {
			font-family: $font-serif;
	    	font-size: 15px;
	    	line-height: 1.5em;
        	margin-bottom: 2em;

			a {
				color: $white;		
			}
		}
		
		.infographic-source {
        	color: $blue-light;
	        font-size: 9px;
	        line-height: 1.3em;
        	margin-bottom: 2em;
		}
		
		.infographic-title {
			color: $white;
			font-size: 26px;
			font-family: $font-serif;
		}
	}
		     
	.infographic-chart {

		line {
			stroke: $blue-light;
		}
		
		path {
			fill: none;
		}
		
		svg {
	      font: 13px $font-sans; 
		}
		
		text {
			fill: $blue-light;
		}
		
		.c3-axis-x, .c3-axis-y {
		
			path {
				display: none;
			}
			
			.tick {
				line {
					display: none;
				}
			}
		}
		
	    .c3-line {
	        stroke-width: 3px
	    }
	    
		.c3-xgrid, .c3-ygrid {
			opacity: .3 !important;
			stroke-dasharray: 0
		}
		
		.c3-xgrid-focus, .c3-ygrid-focus {
			line {
				opacity: .3 !important;
			} 
		}
		
	    .c3-tooltip-container {
	    
	    	.c3-tooltip {
				table, td {
			        border-color: 1px solid #c9d5dd;
			    }
			    
			    td {
			        border-left: none;
				}
				
				th {
					background-color: #3c5976;
				}
	    	}
	    	
	    	#Tooltip {
	    		background: $white;
	    		font-size: 13px;
	    		padding: 0.5em 0.5em 0.5em 1em;
	    		position: relative;
	    		width: 150px;
	    		
	    		.tooltip-circle {
	    			position: absolute;
					height: 18px;
					width: 18px;
					border-radius: 13px;
					border: 3px solid white;
					margin-left: -23px;
					margin-top: 9.5%;
					top: 57px;
					left: 15px;
	    		}
	    		
	    		b {
	    			
	    		}
	    	}
	    	
	    }

		.side-narrative {
		    position: absolute;
		    top: 10%;
		    right: 5%;
		    color: #fff;
		    width: 30%;
		}

		&.area_stacked {
		
			.c3-area {
				opacity: 1 !important;
			}
		}

		&.bar_chart_grouped {
		
			.c3-axis-x {
			
				.tick {
					&:first-of-type, &:last-of-type {
						display: none;
					}
				}
			}
		}
		
		&.donut_chart {
		    height: 520px;
		    margin-left: -25%;
		    
		    .c3-chart-arc path {
			    stroke: none
			}
			
			.c3-chart-arcs-title {
				color: $blue-dark;
				font-size: 22px;
			}
		}
	}

	.infographic-legend {
		padding: 1em 0;
		
		li {
	        color: $white;
	        cursor: pointer;
	        font-size: 13px;
	        margin-right: 1em;
	        text-transform: uppercase;
	     }
     }

	 .infographic-buttons {
		padding: 1em 0;

		button {
			background: $blue-med;
			border: 2px solid $blue-dark;
			border-radius: 21px;
			color: $blue-dark;
			cursor: pointer;
			font-size: 12;
			font-family: $font-sans;
			font-weight: 600;
			height: 45px;
			letter-spacing: 0.05em;
			line-height: 1.5em;
			padding: 0 10px 0 10px;
			text-transform: uppercase;
			width: 190px;
			
			&:hover, &.on {
				background: $blue-dark;
				color: $white;
			}

			.icon {
				font-size: 18px;
			}
		}
	}

	.icon-info-white {
		color: $blue-dark;
		cursor: pointer;
		opacity: 0.5;
	}

	.donut-flex {
		@include flex;
		@include flex_space_between;
	    max-width: 1200px;
	    margin: 0 auto;
	    
	     .infographic-legend {
	     	margin-left: -15%;
	     	z-index: 100;
	     	
			ul {
			
	     		li {
	     			border-top: 1px solid $white;
	     			display: block;
	     			padding: 1em 0;
	     			text-align: left;
	     			
	     			&:last-of-type {
						border-bottom: 1px solid $white;
					}
	     		}
	     	}
		}	
	}

	.side-narratives {
		display: none;
	}
}

@media only screen and (max-width : 1200px) {
}

@media only screen and (max-width : 992px) {
}

@media only screen and (max-width : 768px) {

	.infographiclayout {
	
		.infographic-nav {
		}
		
		.infographic-content {
			
			.infographic-aside {
			}
			
			.infographic-source {
			}
			
			.infographic-title {
				
			}
		}
	
		.infographic-info {
		}
			     
		.infographic-chart {

			.c3-axis-x-label, .c3-axis-y-label {
				display: none;
			}
			
			.c3-axis-x {
				.tick {
					&:nth-of-type(even) {
						display: none;
					}
				}
			}	
			
			&.area_stacked {
			}
	
			&.bar_chart_grouped {
			}

			&.donut_chart {
			    height: 360px;
			    margin: 0 auto;
			}
		}
		
	     .infographic-legend {
	     
	     	ul {
	     	
	     		li {
	     			border-top: none;
	     			display: block;
	     			padding: .5em 0;
	     			text-align: left;
	     			&:last-of-type {
						border-bottom: none;
					}
	     		}
	     	}
	     }

		.donut-flex {
			@include flex_space_normal;
			flex-direction: column;
		    max-width: 1200px;
		    margin: 0 auto;

		     .infographic-legend {
		     	margin-left: 0;
		     	
		     	ul {

			     	li {
		     			border-top: none;
			     		color: $blue-dark;
		     			padding: .5em 0;
		     			&:last-of-type {
							border-bottom: none;
						}
			     	}
				}
		     }
		}
	}		
}

@media only screen and (max-width : 480px) {
}

@media only screen and (max-width : 320px) {
}


