.portal-popup {
	background: $light-blue;
	
	.portlet-body {
		background: $light-blue;
		
		.panel {
			border: none;
			box-shadow: none;
			
			&.panel-default {
				background: $light-blue;
				border: none;
				
				.panel-heading {
					background: $light-blue;
					border: none;
					color: inherit;
				}
				
				.property-list {
					font-size: $size0;
				}
			}
		}
	}
}

.modal-dialog {
}

.modal-content {
	background: $light-blue;
	border: none;
}

.modal-header {
	background: $light-blue;
	border: none;
	color: inherit;
}

.modal-body {
	background: $light-blue;
	color: inherit;
}

.modal-body-no-header {
}

.modal-body-no-footer {
}

.modal-footer {
	background: $light-blue;
	border: none;
}

// Modal Title

.modal-title {
}

h1.modal-title {
	/* font-size: $font-size-h1; */
}

h2.modal-title {
	/* font-size: $font-size-h2; */
}

h3.modal-title {
	/* font-size: $font-size-h3; */
}

h4.modal-title {
	/* font-size: $font-size-h4; */
}

h5.modal-title {
	/* font-size: $font-size-h5; */
}

h6.modal-title {
	/* font-size: $font-size-h6; */
}

// Modal Buttons

.modal-primary-action-button {
}

button.modal-primary-action-button {
}

.modal-header {
	.close,
	.modal-primary-action-button {
		background: $light-blue;
		color: inherit;
	}

	.close,
	.modal-primary-action-button {
		> span {
		}

		.lexicon-icon {
		}

		&:focus,
		&:hover {
			> span {
			}

			.lexicon-icon {
			}
		}

		&:active {
			background: $light-blue;
			color: inherit;
		}
	}
}

// Modal Iframe

.modal-iframe {
	iframe {
	}
	.modal-body {
	}
}

.modal-body-iframe {
	iframe {
	}
}

// Modal Full Screen

.modal-full-screen {
	.modal-content {
		background: $light-blue;
		border: none;
	}

	.modal-body {
	}

	.modal-body-no-footer {
	}

	.modal-body-no-header {
	}

	.modal-footer {
	}
}

.modal-inverse {
	a,
	.btn-link {
		color: $modal-inverse-link-color;
	}

	.modal-content {
		background: $light-blue;
		border: none;
	}

	.modal-header {
		background: $light-blue;
		border: none;
		color: inherit;

		.close,
		.modal-primary-action-button {
			color: inherit;
		}
	}

	.modal-body {
		background: $light-blue;
		color: inherit;
	}

	.modal-footer {
		background: $light-blue;
		border: none;
		color: inherit;
	}
}