section.section-hero{
  .top{
    h1{
      @extend .whitney-huge__green;
    }
  }
  .bottom{
    background-size: cover !important;
    background-position: center !important;
    padding: $unit 0 #{$unit * 2};
    margin: $unit 0;
    p{
      @extend .presna-large__white;
    }
  }
}

.portlet-full-width{
  section.section-hero{
    .row{
      @include section-padding();
    }
  }
}
