.journal-content-article table{
  width: 100%;
  margin-bottom: $unit;
  border: none;

  thead{
    tr{
      align-items: flex-end;
    }
  }

  tbody{
    border-top: 1px solid $dark-blue;
  }
  
  tr{
    border-bottom: 1px solid $off-white;

    td:hover{
      background: $white;
    }
    &:nth-of-type(even){
      background: $almost-white;
      td:hover{
        background: $almost-white;
      }
    }

    &:last-of-type{
      border-bottom: none;
    }
  }

  th{
    height: auto;
    @extend .whitney-normal;
    color: $off-white-text;
    padding: $size-3;

    &:hover{
      text-shadow: 0 0 5px white;
    }
  }

  td{
    @extend .whitney-normal;
    padding: $size-3;
  }
  
  a{
    @extend .underline-link;
  }

  th,td{
    position: relative;
    border: none;

    &:hover{
      z-index: 100;
    }
  }

  p{
    @extend .whitney-normal;
    margin: 0;
  }
}

.portlet-full-width{
  .table-container{
    @include section-padding();
  }
}