.title-with-sections{

  @include section-padding();

  .page-date,
  .page-nav-title,
  .section-title{
    height: $unit * 2;
  }

  .page-title{
    h1,h2,h3{
      margin-top: 0;
    }
  }

  .page-title,
  .section-title{
    display: flex;
    align-items: flex-end;
    margin-bottom: $unit;
    h1{
      @extend .whitney-huge;
    }
    h2,h3{
      @extend .whitney-large__bold;
    }
  }

  .page-date,
  .page-nav-title{
    display: flex;
    align-items: center;
    h3,h4{
      @extend .whitney-normal;
      color: $off-white-text;
      margin-top: 0;
      margin-bottom: $size2;
    }
  }

  .page-nav{
    opacity: 1;
    pointer-events: all;
    transition: all 0.2s ease;
    &.hidden{
      opacity: 0;
      pointer-events: none;
    }
  }

  .page-nav-item{
    display: flex;
    align-items: center;
    border-top: 1px solid $off-white;

    &:last-of-type{
      border-bottom: 0;
    }

    a{
      font-size: $size-1;
      font-weight: bold;
      padding: $unit 0;
      border-bottom: none;
      &:hover{
        border-bottom: none;
      }
    }
  }

  .page-nav-container{
    position: relative;
    top: 0;    
    
    &.fixed{
      position: fixed;
      top: $unit * 4;
      width: inherit;

      .page-nav-list{
        width: 78%;
      }
    }
  }

  .section-title{
    position: relative;
  }
  .section-hyperlink{
    -webkit-appearance: none;
    border: none;
    background: none;
    position: absolute;
    transform: translateX(-100%) translateY(-50%);
    top: 50%;
  }

  // used to get the computed value of $unit*4
  .page-nav-top{
    height: $unit * 4;
    width: 1px;
    opacity: 0;
  }
}
