.title-with-sections{

  @include section-padding();

  .page-date,
  .page-nav-title,
  .section-title{
    height: $unit * 2;
  }

  .page-title,
  .section-title{
    display: flex;
    align-items: flex-end;
    margin-bottom: $unit;
    h1{
      @extend .whitney-huge;
    }
    h2,h3{
      @extend .whitney-large__bold;
    }
  }

  .page-date,
  .page-nav-title{
    display: flex;
    align-items: center;
    h3,h4{
      @extend .whitney-normal;
      color: $off-white-text;
      padding-top: 0.25em;
    }
  }

  .page-nav{
    opacity: 1;
    pointer-events: all;
    transition: all 0.2s ease;
    &.hidden{
      opacity: 0;
      pointer-events: none;
    }
  }
  .page-nav-title{
    border-bottom: 1px solid $off-white;
  }
  .page-nav-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $off-white;

    &:last-of-type{
      border-bottom: 0;
    }

    a{
      font-size: $size-1;
      font-weight: bold;
      padding: $unit 0;
    }
  }

  .scrolling-page-nav{
    display: none !important;
    position: fixed !important;
    top: $unit * 4;
    left: 0;
    pointer-events: none;
    @include section-padding();

    .page-nav{
      background: $white;
    }
    .page-nav-list{
      pointer-events: all;
    }
  }
}
