
// we are just going to assume that this is a youtube container ...
.iframe-container{
  position: relative;
  z-index: 100;

  .video-tagline{
    position: relative;
    height: $unit * 2;
    display: flex;
    align-items: center;

    .icon{
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateX(-100%) translateY(-50%);
      padding-right: $size-3;

      svg{
        $size: $size1;
        width: $size;
        height: $size;
      }
    }
  }

  .video-data{
    line-height: 1;
    transform: translateY(-0.2em);
    span{
      line-height: 1.2;
    }
  }
}

.portlet-iframe.portlet-centered{
  @include tablet(){
    .col-xl-10.col-sm-16{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
.portlet-full-width{
  .iframe-container{
    @include section-padding();
  }
}
