.updates-header.row,
.updates-container.row{
	@include section-padding();
}

.updates-header{
	.updates-header-title{
		@extend .whitney-huge;
	}

	.updates-filter{}

	.updates-filter-type,
	.updates-filter-topic{
		display: inline-block;
		margin: $size0 0;
		margin-right: $size-2;
	}
}

.updates-container{

	article{
		margin-bottom: $size0;
	}
	
	hr.update-divider{
		margin: 0 0 $size0;
		border-top: 2px solid $off-white;
	}

	header{
		display: flex;
		align-items: center;
		margin-bottom: $size-2;

		.update-date,
		.update-categories{
			display: inline-block;
		}
	}

	.update-date{
		@extend .whitney-small__bold;
		@extend .underline-link;
		border-bottom: none;
		&:hover{ border-bottom: none; }
		transform: translateY(0.16em)
	}

	.update-categories{
		margin-bottom: 0;
		list-style: none;
		padding-left: $size-2;

		li{
			display: inline-block;

			a{
				@extend .whitney-small;
				@extend .underline-link;
			}
		}
	}

	.update-title{
		@extend .whitney-large__bold;
		margin-bottom: $size-3;
	}

	.pagnation-container{
		display: flex;
		align-items: center;
		justify-content: space-between;

		.left{
			display: flex;
			align-items: center;
		}

		label{
			margin: 0;
			margin-right: $size-2;
			transform: translateY(0.1em);
		}

		.pagnation-number {
			display: inline-flex;
			align-items: center;
			justify-content: center;

			$size: $size1;
			width: $size;
			height: $size;

			span{
				@extend .whitney-small;
			}

			&.active{
				background: $primary;
				border-radius: 50%;
				span{
					color: $white;
				}
			}
		}

		.pagnation-single{
			@extend .whitney-small__bold;
			margin-left: $size-2;

			&.disabled{
				color: $off-white;
				pointer-events: none;
			}
		}
	}
}

.header-back-to{
	display: block;
	margin-bottom: $size0;
	@extend .whitney-normal;
}

.asset-content{
	h1.whitney-huge{
		margin-bottom: $size-1;
	}
	.mobile-page-nav{
		display: none;
	}
}
