@font-face{
  font-family: 'Presna';
  font-weight: 400;
  src: url('../fonts/Presna-Book.otf');
}
@font-face{
  font-family: 'Presna';
  font-weight: 600;
  src: url('../fonts/Presna-Semibold.otf');
}
