@charset "UTF-8";

.chart-graphic-container {

  @include section-padding();
  padding-top: $unit;

  @include tablet(){
    padding: 1em $unit 0;
  }

  div[class^="col"] {
    @include tablet(){
      padding: 0 !important;
     }
  }
  
  .row{
    @include tablet(){
       margin-left: 0;
       margin-right: 0;
     }
   }

  border-top: 0.25rem solid $grey-blue;
  border-bottom: 0.125rem solid $light-blue;
  clear: both;
  color: $light-blue;
  overflow: hidden;
  

  p {
    color: $light-blue;
  }

  .chart-graphic-description-container {
    float: right;
    width: 50%;
  }
  .chart-graphic-description {
    @extend .presna-normal;
    color: $black;
    margin: 0 $unit;
  }

  .chart-graphic {
    color: $light-blue;

    &.has_description {
      float: left;
      width: 50%;
    }

    line {
      stroke: $off-white;
    }

    p {
      color: $light-blue;
    }

    path {
      fill: none;

      &.domain {
        fill: none;
      }
    }

    svg {
      font-size: $size0;
    }

    text {
      font-size: $size-1;
      font-weight: bold;
      fill: $light-blue;
    }

    .c3-defocused {
      .c3-line {
        stroke: $off-white !important;
      }

      .c3-area {
        fill: $off-white !important;
      }
    }

    .c3-axis-x,
    .c3-axis-y {
      path {
        display: none;
      }

      .tick {
        line {
          display: none;
        }
      }
    }

    .c3-axis-y {
      .tick {
        font-weight: bold;
      }
    }

    .c3-line {
      stroke-width: 3px;
    }

    .c3-xgrid,
    .c3-ygrid {
      opacity: 0.3 !important;
      stroke-dasharray: 0;
      stroke-width: 2;
    }

    .c3-tooltip-container {
      background-color: $light-grey;
      border: 1px solid $grey-blue;
      padding: 0.5em 0.5em 0.25em;

      table {
        &.c3-tooltip {
          td {
            @extend .whitney-small;
            background-color: $light-grey;
            color: $grey-blue;
            padding-bottom: 0.25em;

            &.name {
              padding-right: 0.5em;
            }
          }

          th {
            @extend .whitney-small;
            background-color: $light-grey;
            color: $grey-blue;
            font-weight: 600;
          }
        }
      }
    }

    &.area_stacked {
      .c3-area {
        opacity: 1 !important;
      }
    }

    &.bar_chart_stacked.horizontal {
      .c3-axis-x {
        .tick {
          font-weight: bold;
        }
      }

      .c3-axis-y {
        .tick {
          font-weight: normal;
        }
      }
	}
	&.recession {
		path.c3-bar {
			stroke: none !important;
		}
		.c3-tooltip {
			tbody {
				tr:last-child {
					display: none;
				}
			}
		}
	  }
  }
}
@include desktop() {
  .chart-graphic-container {
    .chart-graphic-description {
      float: none;
      width: 100%;
    }

    .chart-graphic {
      &.has_description {
        float: none;
        width: 100%;
      }
    }
  }
}
@include phone() {
  .chart-graphic-container {
    .chart-graphic-description {
      float: none;
      width: auto;
    }

    .chart-graphic {
      &.has_description {
        float: none;
        width: auto;
      }
    }
  }
}
.do-wrapper { @include container-margin(); }