.top-level-page{

  @include section-padding();
  padding-top: 2em;

  @include tablet(){
    padding: 1em $unit 0;
  }

  div[class^="col"] {
    @include tablet(){
      padding: 0 !important;
    }
  }

  .fixed-jump-to-top-button{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    @include section-padding();
    padding-bottom: 1em;

    @include tablet(){
      background: $white;
      padding: 1em $unit;
    }
  }

  .row{
    @include tablet(){
      margin-left: 0;
      margin-right: 0;
    }
  }

  .page-nav-container{
    //position: absolute;
    top: 0;    
    z-index: 10;

    .page-nav-list{
      width: 75%;
    }
    
    &.fixed{
      position: fixed;
      top: $unit * 5;
      width: inherit;

      .page-nav-list{
        width: 70%;
      }
    }
  }

  .primary-image{
      margin-top: 3rem;
      margin-bottom: 3rem;
      width: 100%
  }

  .page-title{
    h1,h2,h3{
      margin-top: 0;
      margin-bottom: $size-1;
    }
  }

  .page-summary{
    @include tablet(){ 
      .presna-large{
        line-height: 1.4;
        font-size: $font-size-base;
      }
    }
  }

  .page-title,
  .section-title{
    display: flex;
    align-items: flex-end;
    h3{
      font-weight: normal;
    }
  }

  .page-date,
  .page-nav-title{
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    p{
      @extend .whitney-small__bold;
      color: $dark-grey !important;
      margin: 0 !important;
      padding-bottom: $unit !important;
    }

    h3,h4{
      color: $dark-grey !important;
    }
  }

  .page-nav{
    opacity: 1;
    pointer-events: all;
    transition: all 0.2s ease;
    &.hidden{
      opacity: 0;
      pointer-events: none;
    }
    @include tablet(){
      display: none;
    }
  }

  .page-nav-item{
    display: flex;
    align-items: center;
    border-top: 1px solid darken($off-white, 5%);

    &:last-of-type{
      border-bottom: 0;
    }

    a{
      @extend .whitney-small__bold;
      padding: $unit 0;
      border-bottom: none !important;
      color: $link-blue !important;

      &:hover{
        border-bottom: none;
        color: lighten($link-blue, 15%);
      }
    }
  }

  .mobile-page-nav{
    border-radius: 16px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid $grey-blue;
    width: 100%;
    display: none;
    margin: 1em 0;

    @include tablet(){
      display: block;
    }

    .pages-select {
      height: 2em;
      width: 100%;
      border: 0;
      outline: 0;
      padding: 0 15px;
      background-color: $white !important;
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2720%27%20height%3D%2720%27%20viewBox%3D%270%200%201792%201792%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M1395%20736q0%2013-10%2023l-466%20466q-10%2010-23%2010t-23-10l-466-466q-10-10-10-23t10-23l50-50q10-10%2023-10t23%2010l393%20393%20393-393q10-10%2023-10t23%2010l50%2050q10%2010%2010%2023z%27%2F%3E%3C%2Fsvg%3E');
      background-position: right 10px center;
      background-repeat: no-repeat;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      &::-ms-expand {
        display: none;
      }
  
      &:focus {
        color: $dark-blue;
      }
  
      &.has-value {
        background-color: $white;
        border-color: $off-white;
      }
    }
  }

  .section-title{
    position: relative;
  }

  .section-content{
    //padding-bottom: 1.5em;
  }
  
  .section-hyperlink{
    -webkit-appearance: none;
    border: none;
    background: none;
    position: absolute;
    transform: translateX(-100%) translateY(-45%);

    @include tablet(){
      display: none;
    }
  }

  // used to get the computed value of $unit*4
  .page-nav-top{
    height: $unit * 4;
    width: 1px;
    opacity: 0;
  }
}
