@charset "UTF-8";

@mixin no_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin section-padding(){
  padding: 0 #{$unit * 3};

  @include tablet(){
    padding: 0 $unit * 2;
  }
  @include phone(){
    padding: 0 $unit;
  }
}

@mixin phone(){
  @media screen and (max-width: $breakpoint-phone){
    @content;
  }
}
@mixin tablet(){
  @media screen and (max-width: $breakpoint-tablet){
    @content;
  }
}
@mixin desktop(){
  @media screen and (max-width: $breakpoint-desktop){
    @content;
  }
}
@mixin tv(){
  @media screen and (max-width: $breakpoint-tv){
    @content;
  }
}


/* FLEXBOX */
@mixin flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex_space_between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@mixin flex_space_evenly {
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

@mixin flex_space_normal {
	-webkit-box-pack: normal;
	-ms-flex-pack: normal;
	justify-content: normal;
}
