@charset "UTF-8";

@mixin rwd($screen) {
  @if $mobile {
    @if $screen == phone {
      @media only screen and (max-width: $phone) {
        @content;
      }
    }

    @if $screen == flexslidermobile {
      @media only screen and (max-width: $flexslidermobile) {
        @content;
      }
    }
    @else if $screen == tablet {
      @media only screen and (max-width: $tablet) {
        @content;
      }
    }
    @else if $screen == smallestdesktop {
      @media only screen and (max-width: $smallestdesktop) {
        @content;
      }
    }
    @else if $screen == smallerdesktop {
      @media only screen and (max-width: $smallerdesktop) {
        @content;
      }
    }
    @else if $screen == smalldesktop {
      @media only screen and (max-width: $smalldesktop) {
        @content;
      }
    }
    @else if $screen == desktop {
      @media only screen and (max-width: $desktop) {
        @content;
      }
    }
    @else if $screen == bigdesktop {
      @media only screen and (max-width: $bigdesktop) {
        @content;
      }
    }
    @else if $screen == levelonethreshold2 {
      @media only screen and (max-width: $levelonethreshold2) {
        @content;
      }
    }
    @else if $screen == levelonethreshold1 {
      @media only screen and (max-width: $levelonethreshold1) {
        @content;
      }
    }
    @else if $screen == levelonethreshold {
      @media only screen and (max-width: $levelonethreshold) {
        @content;
      }
    }
  }
}

@mixin typeset($size: 16, $lineheight: 1.5) {
  font-size: $size + px;
  font-size: $size / 16 + em;
  line-height: $lineheight;
}

@mixin border($side: bottom, $width: 1px, $style: solid, $color: $color-grey-60) {
  @if $side == all {
    border: $width $style $color;
  }
  @else if $side == top {
    border-top: $width $style $color;
  }
  @else if $side == left {
    border-left: $width $style $color;
  }
  @else if $side == right {
    border-right: $width $style $color;
  }
  @else {
    border-bottom: $width $style $color;
  }
}

@mixin menu_heading($fontsize: 0.75em, $lineheight: 1.25, $fontcolor: #7996AB) {
  display: block;
  margin-bottom: 0;
  padding-top: $spacing;
  padding-bottom: 3 * $spacing;

  @include border;

  overflow: hidden;
  color: $fontcolor;
  font-size: $fontsize;
  font-weight: bold;
  line-height: $lineheight;
}

@mixin menu_heading_no_display($fontsize: 0.75em, $lineheight: 1.25, $fontcolor: #7996AB) {
  margin-bottom: 0;
  padding-top: $spacing;
  padding-bottom: 3 * $spacing;

  @include border;

  overflow: hidden;
  color: $fontcolor;
  font-size: $fontsize;
  font-weight: bold;
  line-height: $lineheight;
}

@mixin no_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
