@charset "UTF-8";

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }

  &:after {
    clear: both;
  }
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.items {
  @include no_list;

  ul {
    @include no_list;
  }

  &.items-h {
    @extend .clearfix;

    li {
      display: block;
      float: left;
    }
  }

  &.items-inline {
    li {
      display: inline-block;
    }
  }
}

.no-list {
  @include no_list;

  ul {
    @include no_list;
  }
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.width-75 {
  max-width: 75%;
  width: 100%;

  // @include rwd(phone) {
  //   max-width: 100%;
  // }
}

.width-50 {
  max-width: 50%;
  width: 100%;

  // @include rwd(phone) {
  //   max-width: 100%;
  // }
}

.width-25 {
  max-width: 25%;
  width: 100%;

  // @include rwd(phone) {
  //   max-width: 100%;
  // }
}
