body.default-theme{

  $darker-background: darken($default-theme-background-color, 10%);
  $darker-primary: darken($default-theme-text-color, 10%);
  $darker-alt: darken($default-theme-alt-text-color, 10%);

  $lighter-background: lighten($default-theme-background-color, 10%);
  $lighter-primary: lighten($default-theme-text-color, 10%);
  $lighter-alt: lighten($default-theme-alt-text-color, 10%);

  @include theme-color-mixin($default-theme-background-color, $default-theme-text-color, $default-theme-alt-text-color);

  $link-blue: #07418a;
  &.signed-in{
    .portlet-column-content.empty {
      background: darken($default-theme-background-color, 25%);
    }
  }


  .journal-content-article{
    a {
      color: $link-blue;
      border-bottom: 1px solid rgba($link-blue, 0.3);
      &:hover,
      &:focus {
        color: lighten($link-blue, 10%);
      }
    }
  }

  .form-control {
    background-color: rgba(236,240,242,1) !important;
  }

  .input-group-btn{
    .btn{
      background-color: rgba(236,240,242,1) !important;
      &:hover{
        background-color: rgba(236,240,242,1) !important;
      }
    }
  }

  .hotspot-widget{
    .download-link{
      color: rgba(94, 122, 135, 1);
      svg path{
        fill: rgba(94, 122, 135, 1);
      }

      &:hover{
        color: rgba(71, 92, 102, 1);
        svg path{
          fill: rgba(71, 92, 102, 1);
        }
      }

      
    }
  }

  .onto2050-basic-web-content{
    .page-cards{
      .bottom-content{
        background: $darker-background;
        a {
          @include clear-underline-link($darker-alt);
        }
      }
    }

    .glossary-term{
      .term-name{
        border-bottom: 1px dotted $primary;
      }
      .term-definition-container{
        background: $darker-background;
      }
      .term-down-arrow{
        background: $darker-background;
      }
    }
  }

  #scroll-nav,
  #footer{
    background: rgb(236,240,242);
  }

  .onto2050-actions{ 
    .actions-row{
      hr{
        border-bottom-color: rgb(210,217,222);
      }
      .mobile-headline{
        color: rgba(94,122,135,1.0) !important;
      }
    }
  }

  .recommendation-headline{
    color: rgb(123,146,157) !important;
  }

  .page-headline{
    margin-bottom: 1.5em;
  }
  #cmap-ckeditor{
    @include theme-color-mixin($default-theme-background-color, $default-theme-text-color, $default-theme-alt-text-color);
  }
  
}
