.actions-widget{
  // background: red;
  .widget-title{
    font-weight: normal;
    margin-bottom: 3rem;
  }

  .action{
    h4{
      margin-bottom: 0.5rem;
    }
    p{
      margin-bottom: 1rem;
    }
  }
}
