.page-anchor{
  position: relative;
  color: black !important;
  border-bottom: none !important;

  .page-anchor-button{
    position: absolute;
    top: 0;
    right: 100%;
    border: none;
    outline: none;
    width: 1em;
    height: 1em;
    padding: 0;
  }

  .page-anchor-icon{
    display: block;
    width: 80%;
    height: 80%;
    margin: 10%;
    max-width: unset !important;
  }
}
