.journal-content-article{
  h1,h2,h3,h4,h5,h6,p{
    color: $black;
    margin: 0;
  }
  a{
    @include underline-link($blue);
  }
  p{
    @extend .presna-normal;
  }
  .presna-large{
    @extend .presna-large;
    a{
      @include clear-underline-link($blue);
    }
  }
  img{
    width: 100%;
  }
  h1,h2{
    margin-bottom: 1rem;
  }
  h3,h4{
    margin-bottom: 0.5rem;
  }
  h5,h6{
    margin-bottom: 0.25rem;
  }

  p{
    margin-bottom: 1.5rem;

    &:last-of-type{
      margin-bottom: 0;
    }
  }
  blockquote{
    padding: 0;
    margin: 3rem 0;
    @extend .hang-quotes;

    p{
      @extend .presna-large;
    }
  }

  .inline-center-col{
    .col-lg-4:first-of-type > *{
      @include container-margin-left();
    }
  }
}
