.button{
  display: inline-block;
  border: 1px solid $light-blue !important;
  @include responsive-padding();
  border-radius: 2vw;
  background: $white;
  font-weight: bold;
  color: $light-blue !important;
}
