
// this should be embeded on the page, we do not need to see it
#p_p_id_GlossaryUtility_{
	display: none;
}

h3 {
	&.glossary-initial {
		clear: both;
		color: $almost-white;
		background: $grey-blue;
		margin: 1em 0;
		padding: .5em;
	}
}

dt {
	&.glossary-term {
		color: $grey-blue;
		float: left;
		width: 50%;
	}
}


dd {
	&.glossary-definition {
		color: $grey-blue;
		float: right;
		width: 50%;
	}
}

.glossary-wrapper {
	clear: both;
	margin: 1em 0;
	overflow: auto;
	+ .glossary-wrapper {
		border-top: 1px solid $grey-blue;
		padding-top: 1em;
	}
}
