
#heading{
  display: flex;
  align-items: center;
  padding: $grid-gutter-width/1.8 0;

  h1,h2{
    margin: 0;
  }

  .hamburger{
    display: none;
    @include container-margin-left();
    padding-left: 0;
    @include desktop(){
      display: inline-block;
    }
  }

  .logo{
    @include container-margin-left();
    border-bottom: none;

    svg{
      display: block;
    }
  }

  #search-input{
    font-size: 0.95em;
  }
  .site-subheadline{
    @extend .whitney-semi-large;
    color: $cmap-dark-blue;
  }
}

#navigation{

  @include tablet(){
    display: none;
  }

  .site-nav{
    @include container-margin-left();
    margin-bottom: 0;

    li:first-of-type{
      padding-left: 0;
    }
  }
  a{
    display: inline-block;
    padding: $padding-base-vertical 0;
    font-weight: $font-weight-bold;
    border-top: 0.1em solid transparent;
    transition: all 0.2s ease-in-out;

    &:hover{
      border-top: 0.1em solid $grey-blue;
    }
  }

  .return-to-cmap{
    @include tablet(){
      @include container-margin-left();
    }
    color: $light-blue;
    margin-bottom: $padding-base-vertical;
    &:hover{
      border-top-color: $light-blue;
    }
  }
}
