
#heading{
  display: flex;
  align-items: center;
  padding: #{$grid-gutter-width / 2} 0;

  h1,h2{
    margin: 0;
  }

  .hamburger{
    display: none;
    @include container-margin-left();
    padding-left: 0;
    @include desktop(){
      display: inline-block;
    }
  }

  .logo{
    @include container-margin-left();
    border-bottom: none;

    svg{
      display: block;
    }
  }

  #search-input{
    font-size: 0.95em;
  }
  .site-subheadline{
    @extend .whitney-semi-large;
    color: $cmap-dark-blue;
  }
}
