@charset "UTF-8";
.chart-legend-2050 {
    @extend .whitney-small;
	border-top: 4px solid $grey-blue;
    color: $light-blue;
    h6 {
		color: $grey-blue;
    }
    p {
	    @extend .whitney-small;
        color: $light-blue;
    }
    .chart-legend-2050-description {
        margin-top: $unit;
    }
    .chart-legend-2050-key {
        margin-top: $unit;
    }
    .chart-legend-2050-key-list {
        li {
            @extend .whitney-small;
            line-height: 1;
            padding-bottom: .25em;
            &:last-of-type {
                padding-bottom: 0;
            }
            .chart-legend-2050-key-image {
                display: inline-block;
                max-height: 12px;
                max-width: 12px;
            }
            .chart-legend-2050-key-label {
                display: inline-block;
                vertical-align: bottom;
            }
        }
    }
    .chart-legend-2050-source {
        margin-top: $unit;
    }
}

.chart-graphic-2050-container {
    border-top: 4px solid $grey-blue;
    clear: both;
    color: $light-blue;
    padding-top: $unit;
    p {
        color: $light-blue;
    }
    .chart-graphic-2050-description {
        float: right;
        width: 50%;
    }
    .chart-graphic-2050 {
        color: $light-blue;
        &.has_description {
            float: left;
            width: 50%;
        }
        line {
            stroke: $off-white;
        }
        p {
            color: $light-blue;
        }
        path {
            fill: none;
            &.domain {
                fill: none;
            }
        }
        svg {
            font-size: $size0;
        }
        text {
            font-size: $size0;
            fill: $light-blue;
            font-size: $size-1
        }
        .c3-defocused {
            .c3-line {
                stroke: $off-white !important;
            }
            .c3-area {
                fill: $off-white !important;
            }
        }
        .c3-axis-x,
        .c3-axis-y {
            path {
                display: none;
            }
            .tick {
                line {
                    display: none;
                }
            }
            .c3-axis-x-label {
                // transform: translate(0, -8px);
            }
        }
        .c3-line {
            stroke-width: 3px
        }
        .c3-xgrid,
        .c3-ygrid {
            opacity: .3 !important;
            stroke-dasharray: 0
        }
        .c3-xgrid-focus,
        .c3-ygrid-focus {
            line {
                // opacity: .3 !important;
            }
        }
        .c3-tooltip-container {
            background-color: $light-grey;
            border: 1px solid $grey-blue;
            padding: .5em .5em .25em .5em;
            table {
                &.c3-tooltip {
                    td {
                        @extend .whitney-small;
                        background-color: $light-grey;
                        color: $grey-blue;
                        padding-bottom: .25em;
                        &.name {
                            padding-right: .5em;
                        }
                    }
                    th {
                        @extend .whitney-small;
                        background-color: $light-grey;
                        color: $grey-blue;
                    }
                }
            }
        }
        &.area_stacked {
            .c3-area {
                opacity: 1 !important;
            }
        }
        /* &.bar_chart_grouped {
            .c3-axis-x {
                .tick {
                    &:first-of-type,
                    &:last-of-type {
                        display: none;
                    }
                }
            }
        } */
    }
}

@include phone() {
    .chart-graphic-2050-container {
        .chart-graphic-2050-description {
            float: none;
            width: auto;
        }
        .chart-graphic-2050 {
            &.has_description {
                float: none;
                width: auto;
            }
        }
    }
}