@mixin container-margin-left($vertical: 0){
  margin-left: $grid-gutter-width;
  margin-top: $vertical;
  margin-bottom: $vertical;
  @include phone(){
    margin-left: 0;
  }
}
@mixin container-margin-right($vertical: 0){
  margin-right: $grid-gutter-width;
  margin-top: $vertical;
  margin-bottom: $vertical;
  @include phone(){
    margin-right: 0;
  }
}
@mixin container-margin($vertical: 0){
  @include container-margin-left($vertical);
  @include container-margin-right($vertical);
}
@mixin phone(){
  @media screen and (max-width: $screen-xs){
    @content;
  }
}
@mixin tablet(){
  @media screen and (max-width: $screen-sm){
    @content;
  }
}
@mixin desktop(){
  @media screen and (max-width: $screen-md){
    @content;
  }
}
@mixin huge(){
  @media screen and (max-width: $screen-lg){
    @content;
  }
}
