@mixin container-margin-left($vertical: 0){
  margin-left: $grid-gutter-width;
  margin-top: $vertical;
  margin-bottom: $vertical;
  @include phone(){
    margin-left: 0;
  }
}
@mixin container-margin-right($vertical: 0){
  margin-right: $grid-gutter-width;
  margin-top: $vertical;
  margin-bottom: $vertical;
  @include phone(){
    margin-right: 0;
  }
}
@mixin container-margin($vertical: 0){
  @include container-margin-left($vertical);
  @include container-margin-right($vertical);
}

@mixin phone(){
  @media screen and (max-width: $screen-xs){
    @content;
  }
}
@mixin tablet(){
  @media screen and (max-width: $screen-sm){
    @content;
  }
}
@mixin desktop(){
  @media screen and (max-width: $screen-md){
    @content;
  }
}
@mixin huge(){
  @media screen and (max-width: $screen-lg){
    @content;
  }
}

@mixin responsive-padding(){
  padding: $padding-large-vertical $padding-large-horizontal;

  @include desktop(){
    padding: $padding-base-vertical $padding-base-horizontal;
  }
  @include tablet(){
    padding: $padding-small-vertical $padding-small-horizontal;
  }
  @include phone(){
    padding: $padding-xs-vertical $padding-xs-horizontal;
  }
}

@mixin underline-link($color){
  color: $color;
  text-decoration: none;
  border-bottom: 0.025em solid $color;

  &:hover,
  &:focus {
    color: lighten($color, 10%);
    text-decoration: none;
    border-bottom-color: lighten($color, 10%);
  }
}

@mixin clear-underline-link($color){
  color: $color;
  text-decoration: underline;
  border-bottom: none;
  &:hover,
  &:focus {
    color: lighten($color, 10%);
    text-decoration: underline;
  }
}
