#scroll-nav{
  background: $white;
  position: fixed;
  top: 0; left: 0;
  z-index: 1000;
  width: 100%;
  transform: translateY(-100%);
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(white, 0.1);
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;

  .left-container{
    display: flex;
    align-items: center;
    @include container-margin-left();

    .hamburger{
      display: none;
      margin-right: 5%;
      margin-bottom: -4px;
      transform: translateY(0) scale(0.75);
      @include tablet(){
        display: block;
      }
    }

    .logo{
      svg{
        display: block;
        transform: scale(0.8) translate(-10%, 3px);
      }
      @include mq(600px){
        display: none;
      }
      @include phone(){
        display: block;
      }
    }
  }

  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .portlet-breadcrumb{
    margin-bottom: 0;
  }
  .breadcrumb-cmap.container-fluid{
    padding-left: 0;
    padding-right: 0;
  }
  .page-title{
    color: $dark-blue;
    margin-bottom: 0;
    height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .jump-to-top-button{
    background: transparent;
    border: none;
    padding: 0;
  }

  &.active{
    transform: translateY(0);
  }

  .logo{
    .site-title{
      margin: 0;
    }
  }

  .mobile-row{
    display: none;

    @include tablet(){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .left{
      display: flex;
      align-items: center;
      @include container-margin-left();
    }

    .hamburger{
      padding-left: $grid-gutter-width / 2;
      padding-bottom: 3px;
    }

    .page-title{
      position: relative;
      display: inline-block;
      width: auto;
      padding: 0 $grid-gutter-width / 2;
    }
    .right{
      padding-right: $grid-gutter-width / 2;
    }
  }

  .desktop-row{
    display: block;
    @include tablet(){
      display: none;
    }
    .page-title{
      position: absolute;
      top: 2px;
      left: $grid-gutter-width / 2;
      width: calc(100% - #{$grid-gutter-width});
    }
  }
}

body.has-control-menu{
  #scroll-nav{
    top: $control-menu-height-desktop;

    @include tablet(){
      top: $control-menu-height-mobile;
    }
  }
}
