.section-headline{
  margin-bottom: 1.5rem;
  
  header{
    position: relative;

    img{
      position: absolute;
      right: 100%;
      width: auto;
      margin-right: $grid-gutter-width / 2;
    }
  }
}
