

.whitney{
  font-family: $font-family-sans-serif;
  &.bold{
    font-weight: 600;
  }
}
.whitney-small{
  @extend .whitney;
  font-size: $font-size-h6;
}
.whitney-normal{
  @extend .whitney;
  font-size: $font-size-h5;
}
.whitney-middle{
  @extend .whitney;
  font-size: $font-size-h4;
}
.whitney-semi-large{
  @extend .whitney;
  font-size: $font-size-h3;
  letter-spacing: 0.025em;
}
.whitney-large{
  @extend .whitney;
  font-size: $font-size-h2;
}
.whitney-huge{
  @extend .whitney;
  font-size: $font-size-h1;
}
.whitney-jumbo{
  @extend .whitney;
  font-size: $font-size-jumbo;
}

.presna{
  font-family: $font-family-serif;
  &.bold{
    font-weight: bold;
  }
}
.presna-normal{
  @extend .presna;
  line-height: 1.4;
  font-size: $font-size-base;
}
.presna-large{
  @extend .presna;
  line-height: 1.2;
  font-size: $font-size-h2;
}
