
$bold-weight: 600;
$normal-weight: 400;

.whitney{
  font-weight: 400;
  font-family: $font-family-sans-serif;
  &.bold{
    font-weight: $font-weight-bold;
  }
}

.whitney-small{
  @extend .whitney;
  font-size: $font-size-h6;
}
.whitney-normal{
  @extend .whitney;
  font-size: $font-size-h5;
}
.whitney-middle{
  @extend .whitney;
  font-size: $font-size-h4;
}
.whitney-semi-large{
  @extend .whitney;
  font-size: $font-size-h3;
}
.whitney-large{
  @extend .whitney;
  font-size: $font-size-h2;
}
.whitney-huge{
  @extend .whitney;
  font-size: $font-size-h1;
}
.whitney-jumbo{
  @extend .whitney;
  font-size: $font-size-jumbo;
}

.huge-headline{
  @extend .whitney-jumbo;
  font-weight: $font-weight-bold;
}
.page-headline{
  @extend .whitney-huge;
  font-weight: $font-weight-bold;
}
.section-headline{
  @extend .whitney-large;
  font-weight: $font-weight-bold;
}
.section-sub-headline{
  @extend .whitney-semi-large;
  font-weight: $font-weight-bold;
}
.normal-headline{
  @extend .whitney-normal;
  font-weight: $font-weight-bold;
}
.small-headline{
  @extend .whitney-small;
  font-weight: $font-weight-bold;
}

.presna{
  font-family: $font-family-serif;
  &.bold{
    font-weight: bold;
  }
}
.presna-normal{
  @extend .presna;
  line-height: 1.4;
  font-size: $font-size-base;
}
.presna-large{
  @extend .presna;
  line-height: 1.2;
  font-size: $font-size-h2;
}


.whitney-small {
  font-family: $font-sans;
  font-weight: $normal-weight;
  font-size: $size-1;
  line-height: $variation;
}
.whitney-small__bold{
  @extend .whitney-small;
  font-weight: $bold-weight;
}

.whitney-normal {
  font-family: $font-sans;
  font-weight: $normal-weight;
  font-size: $size0;
  line-height: $variation;
}

.whitney-normal__bold {
  @extend .whitney-normal;
  font-weight: $bold-weight;
}

.whitney-large {
  font-family: $font-sans;
  font-weight: $normal-weight;
  font-size: $size1;
  line-height: 1.1em;
}

.whitney-large__bold {
  @extend .whitney-large;
  font-weight: $bold-weight;
}

.whitney-huge {
  font-family: $font-sans;
  font-weight: 600;
  font-size: $size2;
  line-height: 1.1em;
}

.whitney-huge__bold{
  @extend .whitney-huge;
  font-weight: $bold-weight;
}

.whitney-huge__green {
  @extend .whitney-huge;
  color: $green;
  a {
    color: $green;
  }
}