.no-padding{
  padding: 0 !important;
}

.font-weight-light{
  font-weight: 300 !important;
}
.font-weight-normal{
  font-weight: $font-weight-normal !important;
}
.font-weight-bold{
  font-weight: $font-weight-bold !important;
}

.black-color{
  color: $black;
}
.dark-blue-color{
  color: $dark-blue;
}
.blue-color{
  color: $blue;
}
.light-blue-color{
  color: $light-blue;
}
.off-white-color{
  color: $off-white;
}
.white-color{
  color: $white;
}

.margin-top-small{
  display: inline-block;
  margin-top: 1.5rem !important;
}
.margin-top-large{
  display: inline-block;
  margin-top: 3rem !important;
}
.margin-bottom-small{
  display: inline-block;
  margin-bottom: 1.5rem !important;
}
.margin-bottom-large{
  display: inline-block;
  margin-bottom: 3rem !important;
}

.hang-quotes{
  position: relative;
  &:before{
    content: "“";
    position: absolute;
    left: 0;
    top: 0;
    font-size: $font-size-h2;
    transform: translateX(-100%);
  }
  &:after{
    content: "”";
    position: absolute;
    right: 0;
    top: 0;
    font-size: $font-size-h2;
    transform: translateX(100%);
  }
}
