.no-padding{
  padding: 0 !important;
}

.margin-top-small{
  display: inline-block;
  margin-top: 1.5rem !important;
}
.margin-top-large{
  display: inline-block;
  margin-top: 3rem !important;
}
.margin-bottom-small{
  display: inline-block;
  margin-bottom: 1.5rem !important;
}
.margin-bottom-large{
  display: inline-block;
  margin-bottom: 3rem !important;
}

.hang-quotes{
  position: relative;
  &:before{
    content: "“";
    position: absolute;
    left: 0;
    top: 0;
    font-size: $font-size-h2;
    transform: translateX(-100%);
  }
  &:after{
    content: "”";
    position: absolute;
    right: 0;
    top: 0;
    font-size: $font-size-h2;
    transform: translateX(100%);
  }
}
