
// sizes
$variation: 1.414;
$ratio: $variation;
$size0: 1em;
$size1: $size0 * $variation;
$size2: $size1 * $variation;
$size3: $size2 * $variation;
$size4: $size3 * $variation;
$size5: $size4 * $variation;
$size6: $size5 * $variation;
$size7: $size6 * $variation;
$size8: $size7 * $variation;
$size9: $size8 * $variation;
$size10: $size9 * $variation;
$size-1: $size0 / $variation;
$size-2: $size-1 / $variation;
$size-3: $size-2 / $variation;
$size-4: $size-3 / $variation;
$size-5: $size-4 / $variation;

$unit: $size1;


// these need to be manually synced with values in
// src/css/aui/lexicon/bootstrap/_variables.scss
$breakpoint-phone: 400px;
$breakpoint-tablet: 800px;
$breakpoint-desktop: 1200px;
$breakpoint-huge: 1600px;

// Colors
$dark-red: #750709;
$red: #DB2028;
$light-red: #F47932;

$light-gold: #5E5011;
$gold: #9E7A38;
$dark-gold: #E7BB20;

$dark-green: #346139;
$green: #6CAD4E;
$light-green: #A2D06D;

$grey-blue: #3C5976;
$light-blue: #88a0b2;
$dark-blue: #004F93;
$blue: #008FD4;

$black: #000000;
$dark-grey: #5E7A87;
$light-grey: #E2E7EA;
$off-white: #E4EBEE;
$off-white-text: #587387;
$almost-white: #F7F9FA;
$white: #FFFFFF;

$cmap-dark-blue: $grey-blue;
$cmap-primary: $cmap-dark-blue;
$primary: $cmap-primary;

$site-border: 1px solid $light-grey;

$control-menu-height-desktop: 64px;
$control-menu-height-mobile: 48px;


// THEMES
// I think these are best left as hex values
// In order to ensure that the themes meet AA accessiblity

$default-theme-background-color: #FFFFFF;
$default-theme-text-color: rgb(71,92,102);
$default-theme-alt-text-color: rgb(24,31,34);

$blue-theme-background-color: #3C5976;
$blue-theme-text-color: rgba(255,255,255,0.8);
$blue-theme-alt-text-color: #FFFFFF;

$grey-theme-background-color: #3C3837;
$grey-theme-text-color: #ffffff;
// $grey-theme-text-color: #A8BCC8;
$grey-theme-alt-text-color: #FFFFFF;

$black-theme-background-color: #000000;
$black-theme-text-color: #88A0B2;
$black-theme-alt-text-color: #FFFFFF;

$font-sans: "Whitney SSm A", "Whitney SSm B", sans-serif;
