body#cmap-ckeditor,
.onto2050-basic-web-content{

  .advertisement{
    margin: $grid-gutter-width 0;
  }
  

  ol,
  ul,
  p{
    margin-top: $grid-gutter-width / 2;

    & + .huge-headline,
    & + .page-headline,
    & + .section-headline,
    & + .section-sub-headline,
    & + .normal-headline,
    & + .small-headline{
      margin-top: $grid-gutter-width / 2;
    }
  }

  .huge-headline,
  .page-headline,
  .section-headline,
  .section-sub-headline,
  .normal-headline,
  .small-headline{

    & + p,
    & + ul,
    & + ol{
      margin-top: $grid-gutter-width / 3;
    }
  }

  .huge-headline + p,
  .section-headline + p{
    margin-top: $grid-gutter-width / 6;
  }


  .section-headline + .section-headline {
    margin-top: $grid-gutter-width / 6;
  }

  p + .section-sub-headline,
  .onto2050-actions + .section-sub-headline{
    margin-top: $grid-gutter-width * 2;
  }

}