
.page-nav{
  position: relative;
  z-index: 50;
  width: 100%;
  max-width: 18em;

  &.fixed{
    position: fixed;
    top: 45px;
    right: 0;
    width: 25%;
    padding-right: $grid-gutter-width/2;
    padding-left: $grid-gutter-width/2;

    @include desktop(){
      width: 18.75%;
    }
  }

  .widget-headline{
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  ul li{
    border-top: 1px solid rgba($light-blue, 0.5);
    list-style: none;
    a{
      display: block;
      width: 100%;
      border-bottom: none !important;
    }
  }
}

.signed-in{
  .page-nav.fixed{
    top: 109px;
  }
}
