.update-slider{
  position: relative;
  z-index: 20;
  background: white;

  .item{
    padding: $unit * 2 0 0;

    .item-date{
      @extend .whitney-normal;
      color: $off-white-text;
    }

    .item-title{
      @extend .whitney-normal__bold;

      a{
        @extend .underline-link;
      }
    }

    p{
      @extend .whitney-normal;
      color: $off-white-text;
      margin: $unit 0;
    }

    .read-more-link{
      @extend .underline-link;
    }

    p, .read-more-link{
      font-size: $size-1;
    }

    @include tablet(){
      &:nth-of-type(odd){
        padding-left: 0 !important;
      }
      &:nth-of-type(even){
        padding-right: 0 !important;
      }
    }
    @include phone(){
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
