a {
  color: $primary;
  transition: all 0.25s ease;
  &:hover {
    text-decoration: none;
    color: lighten($primary, 25%);
  }
}

.underline-link {
  border-bottom: 1px solid $light-grey;
  transition: all 0.25s ease;

  &:hover {
    border-bottom: 1px solid lighten($light-grey, 10%);
  }
}
