.onto2050-video-widget {
  .video-container {
	position: relative;
  }
  &.responsive {
	.video-container {
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		video {
			width: 100% !important;
			height: auto !important;
		}
	}
  }

  video {
    width: 100%;
  }

  .cover-photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-size: cover !important;
    background-position: center !important;

    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      width: 15vw !important;
      height: 15vw !important;

      @include tablet(){
        width: 30vw !important;
        height: 30vw !important;
      }
    }
  }
  
  .caption-row{
    position: absolute;
    width: 100%;
    z-index: 100;
    pointer-events: none;

    &.top{
      top: 0;
    }
    &.bottom{
      bottom: 0;
    }
  }

  .picture-caption{
    color: $white;

    &.left{
      @include container-margin-left(3em);
    }
    &.right{
      @include container-margin-right(3em);
    }
  }
}
