.fullbackgroundimage1212210 {
  .page-meta-data {
    .row-fluid {
      padding: 0;
    }
  }

  #column-4 {
    // max-height: 440px
    min-height: 440px;

    @include rwd(tablet) {
      min-height: 350px;
    }


    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    float: none;
    color: #fff;
    font-family: $font-serif;

    .signed-in & {
      background-color: $color-charcoal;
    }

    .portlet-column-content {
      padding: 4.5em 0 6em;

      @include rwd(tablet) {
        padding: 1em 0 0 0;
      }
    }

    .portlet-boundary {
      .signed-in & {
        padding-bottom: 1.5em;
      }
    }

    .fullwidthimage-portlet {
      position: absolute;
      top: -25%;

      @include rwd(tablet) {
        top: 0;
      }


      left: 0;
      right: 0;
      z-index: -1;

      .signed-in & {
        position: static;
        max-width: 64em;
        padding-left: 25.5%;

        @include rwd(tablet) {
          padding-left: 2em;
        }


        .span12 {
          display: none;
        }
      }
    }

    .portlet-journal-content {
      max-width: 64em;
      padding-left: 25.5%;

      @include rwd(tablet) {
        padding-left: 2em;
        padding-right: 2em;
      }
    }

    h1 {
      @include typeset(28, 32 / 28);
      @include rwd(tablet) {
        font-size: 1.5em;
        margin-bottom: 0.5em;
      }
    }

    .lead {
      @include typeset(28, 32 / 28);
      @include rwd(tablet) {
        font-size: 1.25em;
        margin: 0 0 1em 0;
      }
    }
  }
}
