.bg-intro {
  .lead {
    min-height: 724px;

    @include rwd(tablet) {
      min-height: 420px;
    }
  }

  .lead.taller {
    min-height: 762px;
  }
}

.site-main {
  background-position: right top;
  background-repeat: repeat-x;

  @include rwd(tablet) {
    background-position: right -300px;
    background-image: none !important;
  }
}

.site-main.levelonelayout {
  background-repeat: no-repeat;
}

.portlet-boundary.bg-intro {
  min-height: 579px;
  width: 9 * ($bs-width + $bs-margin);

  @include rwd(phone) {
    width: 100%;
  }
}
