.slider-partner-spotlight {
  position: relative;
  margin-left: 0 !important;

  .slider {
    .slick-slider {
      margin-bottom: 0;
    }

    .slide {
      display: none;
    }

    .slider-title {
      margin: 1.75em 0 2em 0;
    }

    .width-50 {
      @include box-sizing(border-box);

      width: 50%;
      margin-top: 6em;
      float: left;
      padding-right: 1.5em;
      overflow: hidden;

      @include border(right);

      &.slide-right {
        padding-left: 2.5em;
        padding-right: 0;
        border: none;
        width: 45%;
      }

      img {
        margin-bottom: 1em;
      }
    }
  }
}
