.categoriesmultiselect-portlet, .categoriesfilter-portlet {
  .category-list-toggle {
    a {
      display: inline-block;
      border-bottom: 0;
      background-image: url(../images/icons/icon-arrow-down.png);
      background-position: right center;
      background-repeat: no-repeat;
      padding-right: 3 * $spacing;
      margin-right: $spacing / 2;
    }

    a.category-list-search-trigger {
      background-image: url(../images/icons/icon-search.png);
    }

    a.category-list-search-trigger.open {
      background-image: none;
      padding-right: $spacing;
    }

    input.category-list-search-button {
      background-image: url(../images/icons/icon-search.png);
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      border: none;
      height: 16px;
      width: 24px;
      padding: 0;
    }
  }

  .category-list-container {
    padding: 0;
    margin-top: 2 * $spacing;
  }
}
