.aui-dialog {
  z-index: 99999 !important;
}

.ui-widget-overlay {
  background: transparent;
  opacity: 1;
  filter: Alpha(Opacity = 100);
}

.ui-widget {
  font-family: $font-sans;
  font-size: 1em;
}

.ui-dialog {
  outline: none;

  * {
    outline: none;
  }
}

.ui-dialog {
  @include box-shadow((-$spacing) $spacing (6 * $spacing) $color-grey);

  margin-top: 6 * $spacing;
  padding: 1em;
  z-index: 100;
  border: none;
  background-color: $color-grey-80;

  .ui-dialog-titlebar-close {
    display: block;
    margin-top: 0.5em;
    margin-right: 0.5em;
    height: 16px;
    width: 16px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    border: none;
    background-color: transparent;
    background-image: url(../images/icons/icon-close.png);
    background-position: left top;
    background-repeat: no-repeat;

    span {
      @extend .hidden;
    }
  }

  .ui-dialog-titlebar {
    padding: 0;
    border: none;
    background-color: transparent;

    .ui-dialog-title {
      display: none;
    }
  }

  .ui-dialog-content {
    padding: 0;
  }

  .ui-dialog-footer {
    margin-bottom: 1em;

    * {
      margin-bottom: 0;
    }
  }
}

.ui-corner-all {
  border-radius: 0;
}
