.site-navigation {
  position: relative;
  border-top: 1px solid $color-grey-60;

  .mobile-nav-main-label {
    display: none;
  }

  .taxonomynav-portlet {
    .nav-main {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      position: static !important;
      font-family: $font-sans;

      a {
        border-bottom: 1px dotted #7F8B96;
        color: $color-charcoal;
      }

      .items.items-h {
        @extend .clearfix;

        margin: 0;
        padding: 0;
        position: relative;
        padding-left: 2em;

        > li {
          &:hover {
            > a {
              border-top: 3px solid $color-grey;
            }
          }

          &.search,
          &.events {
            display: none;
          }

          > a {
            @include transition(border-top 0.4s);

            display: block;
            margin-top: -3px;
            padding-top: $spacing;
            padding-bottom: $spacing;
            border-top: 3px solid transparent;
            border-bottom: none;
          }

          &.current {
            > a {
              border-top: 3px solid $color-grey;
            }
          }
        }

        li {
          display: block;
          margin-right: 2.25 * $spacing;

          &.active {
            ul,
            .nav-main-sub-wrap {
              display: block;
            }
          }
        }

        ul {
          display: none;
        }

        .nav-main-sub-wrap {
          background-color: #c9D5dc;
          display: none;
          position: absolute;
          top: 5 * $spacing;
          left: 0;
          right: 0;
          z-index: 10;
          border-top: ($spacing / 2) solid $color-grey;
          border-bottom: ($spacing / 2) solid $color-grey;
          overflow: hidden;

          .width-limit {
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            > ul {
              @include box-sizing(border-box);

              display: block;
              width: 50%;
              height: $main-megamenu-height;
              margin: 0;
              overflow-y: auto;
              padding: 4 * $spacing;

              > li {
                float: none;

                &:first-child {
                  padding: 0;
                }

                &:last-child {
                  @include box-sizing(border-box);

                  height: $main-megamenu-height;
                  width: 50%;
                  margin: 0;
                  padding: 4 * $spacing;
                  position: absolute;
                  top: 0;
                  right: 0;
                  overflow-y: auto;
                  border-left: ($spacing / 2) solid #fff;
                  border-bottom: none;

                  &:after {
                    padding-right: 0;
                    background-image: none;
                    content: "";
                  }

                  &.active {
                    &:after {
                      padding-right: 0;
                      background-image: none;
                      content: "";
                    }
                  }

                  ul {
                    display: block;
                    padding: 0;
                  }
                }
              }

              .nmsw-sub {
                cursor: pointer;

                &:after {
                  display: block;
                  height: 16px;
                  width: 16px;
                  margin-top: 1.25 * $spacing;
                  margin-right: $spacing;
                  position: absolute;
                  top: 0;
                  right: 0;
                  font-weight: bold;
                  content: "";
                  background-image: url(../images/icons/icon-plus.png);
                  background-position: right 4px;
                  background-repeat: no-repeat;
                }

                &.active {
                  &:after {
                    content: "";
                    background-image: url(../images/icons/icon-minus.png);
                  }

                  ul {
                    display: block;
                  }
                }

                ul {
                  display: none;
                }
              }

              ul {
                margin: 0;
                padding: 0 $spacing;
              }

              li {
                display: block;
                margin: 0;
                padding: $spacing 0;
                float: none;
                position: relative;
                border-bottom: 1px solid #fff;

                > a {
                  font-weight: bold;
                }

                li {
                  padding: 0;
                  border-bottom: none;

                  &:last-child {
                    border-bottom: none;
                  }

                  > a {
                    font-weight: normal;
                  }
                }

                .mega-menu-features {
                  li {
                    @extend .clearfix;

                    padding: $spacing 0;
                    border-top: 1px solid #fff;

                    img {
                      max-width: 4 * ($bs-width + $bs-margin);
                      margin-right: 0;
                      width: 100%;
                      float: left;
                      background-color: #fff;

                      a & {
                        margin-right: 0;
                      }
                    }

                    .mega-menu-thumb-caption {
                      width: 8 * ($bs-width + $bs-margin) - 2 * $bs-margin;
                      margin-left: $bs-margin;
                      float: left;

                      > strong:first-child {
                        border-bottom: 1px dotted #7F8B96;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .mega-menu {
        z-index: 9999;
      }

      .mega-menu-description {
        margin-bottom: 2 * $spacing;
      }

      .mega-menu-header {
        margin-bottom: 2 * $spacing;
        color: $color-grey;
        font-weight: 700;
      }
    }
  }
}
