.portlet-asset-publisher {
  position: relative;

  .slider-title {
    .tbs-1-1-1-2-columns-hero-slider-container & {
      margin-left: 2em;
    }
  }

  &.slider {
    .portlet-body {
      h1 {
        display: none;
      }
    }

    .asset-abstract {
      display: none;
    }
  }
}

.slider {
  .tbs-1-1-1-2-columns-hero-slider-container & {
    margin: 0 1em 0 2em;

    @include rwd(tablet) {
      margin: 0 0 0 2em;
    }
  }

  .slides {
    font-family: $font-serif;
  }

  .asset-abstract {
    min-height: 200px;
    margin-right: 24px;
    padding-right: 16px;
    padding-bottom: 2em;
    border-top: none !important;
    width: auto;

    //@include border(right)
    //&:nth-child(3n+3), &:last-child
    //  border-right-color: #fff
    //&:nth-last-child(2)
    //  border-right-color: #c9d5dd
    @include rwd(tablet) {
      min-height: 275px;
      border: none;
      padding-bottom: 0;
    }


    font-weight: lighter;

    .asset-publish-date {
      margin-bottom: 16 / 12 + em;

      @include typeset(14, 20 / 14);
    }

    .asset-title {
      margin: 0 0 0.5em 0;
      border: none;

      @include typeset(16, 18 / 16);

      a {
        border: none;
        color: $color;
      }

      img {
        display: none;
      }
    }

    .asset-content {
      margin: 0;

      @include typeset(16, 20 / 16);

      a {
        border-color: $color-charcoal;
        color: $color-charcoal;
        font-weight: normal;
      }
    }
  }

  .view-all-x-updates-link {
    display: block;
    position: absolute;
    bottom: 0;
    margin-left: 0;

    @include typeset(12, 1);
    @include rwd(tablet) {
      margin-left: 0;
    }
  }
}

.slider-partner-spotlight button.slick-next {
  right: -25px;
}
