@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import "custom/custom";

.underline-link{
  @include underline-link($link-color);
}

.content-margin{
  margin: $grid-gutter-width 0;
}
.product-menu .scope-selector{
  width: 100%;
}

.margin-bottom-portlet{
  margin-bottom: $grid-gutter-width;
}

#profile-content{
  margin: $grid-gutter-width 0;
  @include tablet(){
    @include container-margin(3em);
  }
}
.scope-selector{
  width: 100%;
}

.hidden{
  display: none !important;
}
