/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import "custom/variables";
@import "custom/mixins";
@import "custom/input";
@import "custom/typography";
@import "custom/header";
@import "custom/footer";
@import "custom/picture";
@import "custom/section-headline";
@import "custom/page-nav";
@import "custom/page-header";
@import "custom/page-cards";
@import "custom/actions";
@import "custom/advertisement";
@import "custom/before-after";
@import "custom/profiles/footer";
@import "custom/profiles/grid";
@import "custom/profiles/header";

@import "custom/vendor/hamburgers/hamburgers";

@import "color_schemes/blue-theme";

@mixin underline-link($color){
  color: $color;
  text-decoration: none;
  border-bottom: 0.05em solid $color;
  &:hover,
  &:focus {
    color: lighten($color, 10%);
    text-decoration: none;
    border-bottom-color: lighten($color, 10%);
  }
}

.underline-link{
  @include underline-link($link-color);
}

#wrapper{
  // overflow-x: hidden;
}

.content-margin{
  margin: 3em 0;
}
.product-menu .scope-selector{
  width: 100%;
}

/* I think 99.999% of web content is displayed in this div */
.journal-content-article{
  a{
    @include underline-link($link-color);
  }
  p{
    font-family: $font-family-serif;
    line-height: 1.5;
  }
  img{
    width: 100%;
  }
}

.margin-bottom-portlet{
  margin-bottom: 3rem;
}

.blue-theme{
  .journal-content-article{
    h1,h2,h3,h4,h5,h6,p{
      color: $white;
    }
    a{
      @include underline-link($light-blue);
    }
  }
}

#profile-content{
  margin: 3rem 0;
  @include tablet(){
    @include container-margin(3em);
  }
}
.scope-selector{
  width: 100%;
}
