$animation: all 0.3s ease-out;

#cmap-onto2050-breadcrumbs{
  display: none;
}

#cmap-breadcrumbs{
  position: relative;
  border-top: 1px solid $off-white;
  border-bottom: 1px solid $off-white;
  height: 4em;
  padding: 0 !important;
  margin-right: 0;
  margin-left: 0; 

  .row{
    @include section-padding();
    height: 4em;
    display: flex;

    @include tablet(){
      flex-wrap: wrap;
    }

    a{
      color: $primary;
      &:hover{
        text-decoration: none;
        color: $dark-blue;
      }
    }
  }

  .share-col{
    display: flex;

    .share-button{
      color: $grey-blue !important;
      position: relative;
      top: 1.5em;
      display: inline-flex;
      align-items: center;
      height: 1em;
      padding: 0;
      cursor: pointer;
      -webkit-appearance: none;
      border: none;
      background: none;

      .whitney-small{
        font-weight: bold;
        padding-left: 1em;
      }
    }

    .close-button{
      color: $grey-blue !important;
      position: relative;
      top: 1.5em;
      display: inline-flex;
      align-items: center;
      height: 1em;
      padding: 0;
      cursor: pointer;
      -webkit-appearance: none;
      border: none;
      background: none;
    }
  }

  .trail-col{
    display: flex;
    align-items: center;

    @include tablet(){
      text-indent: 0;
      margin: 0;

      .home{
        .square{
          display: none;
        }
      }
    }
  }

  .breadcrumb-trail{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: $animation;

    .single-line{
      height: $variation + 0em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.active{
      opacity: 1;
      pointer-events: all;
    }

    .home.entry{
      position: relative;
      display: inline-flex;
      height: $unit;
      align-items: center;
      border-left: none;

      .square{
        position: relative;
        left: 0;

        display: inline-block;
        width: $size-2;
        height: $size-2;
        padding: 0;
        margin-right: $size-2;

        border: 1px solid $grey-blue;
        background: $white;
        cursor: pointer;
        transition: all 0.2s ease;
      }

      &:hover{
        .square{
          border: 1px solid $grey-blue;
          background: $off-white;
        }
      }
    }

    a{
      padding: 0 $size-2 0 #{$size-1 - 0.1em};
      border-left: 1px solid $grey-blue;

      &.active{
        cursor: default;
        color: $grey-blue;
      }
    }
  }
}