.button{
  display: inline-block;
  border: 1px solid $light-blue !important;
  border-radius: 2.5rem;
  padding: 1rem 1.5rem;
  background: $white;
  font-weight: bold;
  color: $light-blue !important;
}

.jump-to-top-button{
  //display: inline-flex;
  align-items: center;
  cursor: pointer;

  svg{
    width: auto !important;
    height: 15px !important;
  }
  span{
    @extend .whitney-small;
    margin-left: 0.5em;
    transform: translateY(0.2em);
    color: $grey-blue;
  }
}