body {
  min-height: 100vh;
  > div {
    // min-height: 100vh;
  }
}

#wrapper{
  min-height: 100vh;
  overflow-x: hidden;

  .container-header{
    border-bottom: $border-thick;
    padding: 0 4.242em;

    @include tablet(){
      padding: 0;
    }

    .header-social-link{
      margin-right: 1em;

      @media (max-width: 1440px) {
				font-size: .5em;
			}

      @include desktop() { 
        margin-right: .5rem;
      }
    }

    .header-nav-col{
      padding-right: 0; 
      padding-left: 0;
    }
    .header-nav-li{
      @extend .whitney-normal__bold;
      
      @include huge() {
        font-size: $h6-font-size;
      }
      padding-right: 20px;
    }
  }

  .col-social-links{
    padding-right: 0;
  }
}
#content{
  min-height: 100vh;

  .row-with-padding{
    padding: 0 4.242em;

    @include tablet(){
      padding: 0;
    }
  }
}

.skip-to-content{
  position: absolute;
  z-index: 0;
  top: -100vh;
}

.no-padding{
  padding: 0 !important;
}

.divider-padding{
  padding: .5em 0 !important;
}

.margin-top-small{
  display: inline-block;
  margin-top: 1.5rem !important;
}
.margin-top-large{
  display: inline-block;
  margin-top: 3rem !important;
}
.margin-bottom-small{
  display: inline-block;
  margin-bottom: 1.5rem !important;
}
.margin-bottom-large{
  display: inline-block;
  margin-bottom: 3rem !important;
}

.hang-quotes{
  position: relative;
  &:before{
    content: "“";
    position: absolute;
    left: 0;
    top: 0;
    font-size: $h2-font-size;
    transform: translateX(-100%);
  }
  &:after{
    content: "”";
    position: absolute;
    right: 0;
    top: 0;
    font-size: $h2-font-size;
    transform: translateX(100%);
  }
}
