body {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-size: 21px;
  line-height: $variation;

  @include huge() {
    font-size: 18px;
  }

  @include desktop() {
    font-size: 16px;
  }
  @include tablet() {
    font-size: 15px;
  }
  @include phone() {
    font-size: 14px;
  }
}
p {
  font-family: $font-serif;
}

$bold-weight: 600;
$normal-weight: 400;

.whitney{
  font-weight: 400;
  font-family: $font-family-sans-serif;
  &.bold{
    font-weight: $font-weight-bold;
  }
}

.whitney-small {
  @extend .whitney;
  font-size: $h6-font-size;
}
.whitney-small__bold{
  @extend .whitney-small;
  font-weight: $bold-weight;
}

.whitney-normal {
  @extend .whitney;
  font-size: $h5-font-size;
}

.whitney-normal__bold {
  @extend .whitney-normal;
  font-weight: $bold-weight;
}

.whitney-middle{
  @extend .whitney;
  font-size: $h4-font-size;
}

.whitney-middle__bold {
  @extend .whitney-middle;
  font-weight: $bold-weight;
}

.whitney-semi-large{
  @extend .whitney;
  font-size: $h3-font-size;
}

.whitney-semi-large__bold{
  @extend .whitney-semi-large;
  font-weight: $bold-weight;
}

.whitney-large {
  @extend .whitney;
  font-size: $h2-font-size;
}

.whitney-large__bold {
  @extend .whitney-large;
  font-weight: $bold-weight;
  font-size: $h2-font-size;
}

.whitney-huge {
  @extend .whitney;
  font-size: $h1-font-size;
}

.whitney-huge__bold{
  @extend .whitney-huge;
  font-weight: $bold-weight;
}

.whitney-jumbo{
  @extend .whitney;
  font-size: $h1-font-size;
}

.whitney-jumbo__bold{
  @extend .whitney-jumbo;
  font-weight: $bold-weight;
}

.huge-headline{
  @extend .whitney-jumbo;
  font-weight: $font-weight-bold;
}
.page-headline{
  @extend .whitney-huge;
  font-weight: $font-weight-bold;
}
.section-headline{
  @extend .whitney-large;
  font-weight: $font-weight-bold;
}
.section-sub-headline{
  @extend .whitney-semi-large;
  font-weight: $font-weight-bold;
}
.normal-headline{
  @extend .whitney-normal;
  font-weight: $font-weight-bold;
}
.small-headline{
  @extend .whitney-small;
  font-weight: $font-weight-bold;
}

.presna{
  font-family: $font-family-serif;
  &.bold{
    font-weight: bold;
  }
}
.presna-normal{
  @extend .presna;
  font-size: $h5-font-size;
}

.presna-large{
  @extend .presna;
  font-size: $h2-font-size;
}
