<div class="container-fluid">
  <label class="mobile-nav-main-label hidden" for="mobile-nav-main-checkbox">Main Mobile Navigation</label>
  <input name="mobile-nav-main-checkbox" id="mobile-nav-main-checkbox" class="mobile-nav-main-checkbox hidden" type="checkbox" />
  
  #if (!$is_bot)
    <div class="row-fluid">
      #set ($myPortletId = "taxonomynav_WAR_CustomPortletsportlet")
      $theme.runtime($myPortletId)
    </div>
  #else
    <ul>
      <li><a href="/about">About</li>
      <li><a href="/programs-and-resources">Programs &amp; Resources</li>
      <li><a href="/livability">Livability</li>
      <li><a href="/mobility">Mobility</li>
      <li><a href="/economy">Economy</li>
      <li><a href="/data">Data</li>
      <li><a href="/contact-us">Contact Us</li>
    </ul>
  #end
</div> <!-- .container-fluid -->