body.blue-theme{
  background: $grey-blue;

  &.signed-in .portlet-column-content.empty {
		opacity: 0.2;
		&:hover{
			opacity: 0.5;
		}
	}
  &.portal-popup{
    background: $white;
  }

  #heading{
    .site-subheadline{
      color: $white;
    }
    .logo{
      svg{
        path,polygon{
          &[fill="#000000"]{
            fill: white;
          }
        }
      }
    }
  }
  #navigation{
    a{
      &:hover{
        border-top: 0.1em solid lighten($light-blue, 10%);
      }
    }
  }
  #breadcrumbs{
    .breadcrumb-cmap{
      $percent: 0.5;
      border-top-color: rgba($light-blue, $percent);
      border-bottom-color: rgba($light-blue, $percent);
    }
    a{
      color: $white;
    }
  }
  .page-nav{
    ul li a{
      color: $white !important;
    }
  }
  .journal-content-article{
    h1,h2,h3,h4,h5,h6,p{
      color: $white;
    }
  }
  .page-cards{
    .top{
      .placeholder-image{
        background: $white;
      }
    }
    .bottom{
      background: #526A82;
      h4 a {
        @include clear-underline-link(white);
      }
    }
  }
  .picture-figure{
    .picture-footnote{
      color: $white;
    }
  }
  .glyphicon{
    *[fill="#3C5976"],
    *[fill="#3A5776"]{
      fill: $white;
    }
  }
  .btn-plain {
    @include button-variant($white, $grey-blue, $btn-plain-border);
  }
}
