.updates-header.row,
.updates-container.row{
	@include section-padding();
}

.updates-header{
	.updates-header-title{
		@extend .whitney-huge;
	}

	.updates-filter{}

	.updates-filter-type,
	.updates-filter-topic{
		display: inline-block;
		margin: $size0 0;
		margin-right: $size-2;
	}
}

.updates-container{

	article{
		margin-bottom: $size0;
	}
	
	hr.update-divider{
		margin: 0 0 $size0;
		border-top: 2px solid $off-white;

	}

	header{
		display: flex;
		align-items: center;
		margin-bottom: $size-2;

		.update-date,
		.update-categories{
			display: inline-block;
		}
	}

	.update-date{
		@extend .whitney-small;
		@extend .underline-link;
		border-bottom: none;
		&:hover{ border-bottom: none; }
		transform: translateY(0.16em)
	}

	.update-categories{
		margin-bottom: 0;
		list-style: none;
		padding-left: $size-2;

		li{
			display: inline-block;

			a{
				@extend .whitney-small;
				@extend .underline-link;
			}
		}
	}

	.update-title{
		@extend .whitney-large__bold;
		@extend .underline-link;
	}
}