body.black-theme{
  $darker-background: darken($black-theme-background-color, 10%);
  $darker-primary: darken($black-theme-text-color, 10%);
  $darker-alt: darken($black-theme-alt-text-color, 10%);

  $lighter-background: lighten($black-theme-background-color, 15%);
  $lighter-primary: lighten($black-theme-text-color, 10%);
  $lighter-alt: lighten($black-theme-alt-text-color, 10%);

  @include theme-color-mixin($black-theme-background-color, $black-theme-text-color, $black-theme-alt-text-color);

  #mobile-navigation{
    background: $lighter-background;
    color: $lighter-alt;
  }

  &.signed-in{
    .portlet-column-content.empty {
      background: lighten($black-theme-background-color, 40%);
    }
  }

  #cmap-ckeditor{
    @include theme-color-mixin($black-theme-background-color, $black-theme-text-color, $black-theme-alt-text-color);
  }
}
