body.default-theme{

  $darker-background: darken($default-theme-background-color, 10%);
  $darker-primary: darken($default-theme-text-color, 10%);
  $darker-alt: darken($default-theme-alt-text-color, 10%);

  $lighter-background: lighten($default-theme-background-color, 10%);
  $lighter-primary: lighten($default-theme-text-color, 10%);
  $lighter-alt: lighten($default-theme-alt-text-color, 10%);

  @include theme-color-mixin($default-theme-background-color, $default-theme-text-color, $default-theme-alt-text-color);

  

  &.signed-in{
    .portlet-column-content.empty {
      background: darken($default-theme-background-color, 25%);
    }
  }

  .onto2050-basic-web-content{
    .page-cards{
      .bottom-content{
        background: $darker-background;
        a {
          @include clear-underline-link($darker-alt);
        }
      }
    }

    .glossary-term{
      .term-name{
        border-bottom: 1px dotted $primary;
      }
      .term-definition-container{
        background: $darker-background;
      }
      .term-down-arrow{
        background: $darker-background;
      }
    }
  }
}
