body.grey-theme{
  background: #3C3837;

  #heading{
    .logo{
      polygon[fill="#000000"],
      path[fill="#000000"]{
        fill: $white;
      }
    }
    input::placeholder,
    .site-subheadline,
    .input-group-btn .btn{
      color: $white;
    }

    .form-control {
      color: $white;
      background-color: rgba($off-white, 0.42);
      border-color: rgba($white, 0.42);
    }
    .input-group-btn{
      .btn{
        background-color: rgba($off-white, 0.42);
        border-color: rgba($white, 0.42);
        &:hover{
          @include box-shadow(inset 0 1px 1px rgba(255,255,255,.075), 0 0 $input-hover-shadow-length $white);
        }
      }
    }
  }

  #navigation{
    a:hover{
      border-top: 0.1em solid $blue;
    }
    .return-to-cmap{
      color: $white;

      &:hover{
        color: $blue;
      }
    }
  }

  #breadcrumbs{
    .share-button,
    .close-button{
      color: $white;
      background: transparent;

      *[fill="#3A5776"],
      *[fill="#3C5976"]{
        fill: $white;
      }

      &:hover,
      &:focus,
      &.focus {
        color: $blue;

        *[fill="#3A5776"],
        *[fill="#3C5976"]{
          fill: $blue;
        }
      }
    }
    .breadcrumb-cmap{
      border-top: 1px solid rgba($off-white, 0.25);
      border-bottom: 1px solid rgba($off-white, 0.25);
    }
    .breadcrumb > .active {
      color: $white;
      opacity: 0.614;
    }
  }

  a {
    color: $white;
    &:hover,
    &:focus {
      color: $blue;
    }
  }
  .control-menu-level-1 a{
    color: $white;
  }
}
