body.grey-theme{

  &:not(.portal-popup){
    background: #3C3837;
    color: white;
  }
  #heading{
    .logo{
      polygon[fill="#000000"],
      path[fill="#000000"]{
        fill: $white;
      }
    }
    input::placeholder,
    .site-subheadline,
    .input-group-btn .btn{
      color: $white;
    }

    .form-control {
      color: $white;
      background-color: rgba($off-white, 0.42);
      border-color: rgba($off-white, 0.42);
      border-color: transparent;
    }
    .input-group-btn{
      .btn{
        background-color: rgba($off-white, 0.42);
        border-color: rgba($off-white, 0.42);
        border-color: transparent;
        &:hover{
          background-color: rgba($off-white, 0.84);
        }
      }
    }
  }

  #navigation{
    a:hover{
      border-top: 0.1em solid $white;
    }
    .return-to-cmap{
      color: $white;

      &:hover{
        color: $white;
      }
    }
  }

  #breadcrumbs{
    .share-button,
    .close-button{
      color: $white;
      background: transparent;

      *[fill="#3A5776"],
      *[fill="#3C5976"]{
        fill: $white;
      }

      &:hover,
      &:focus,
      &.focus {
        color: $white;

        *[fill="#3A5776"],
        *[fill="#3C5976"]{
          fill: $white;
        }
      }
    }
    .breadcrumb-cmap{
      border-top: 1px solid rgba($off-white, 0.25);
      border-bottom: 1px solid rgba($off-white, 0.25);
    }
    .breadcrumb > .active {
      color: $white;
      opacity: 0.75;
    }
  }

  #wrapper{
    a {
      color: $white;
      &:hover,
      &:focus {
        color: $white;
      }
    }
    // .dropdown a.dropdown-toggle,
    .portlet-topper-toolbar a{
      color: #777;
    }
  }

}
