@mixin theme-color-mixin($background, $primary, $alt){

  $darker-background: darken($background, 10%);
  $darker-primary: darken($primary, 10%);
  $darker-alt: darken($alt, 10%);

  $lighter-background: lighten($background, 10%);
  $lighter-primary: lighten($primary, 10%);
  $lighter-alt: lighten($alt, 10%);

  &:not(.portal-popup){
    background: $background;
    color: $primary;
  }

  .journal-content-article{
    h1,h2,h3,h4,h5,h6,p{
      color: $primary;
    }
    .huge-headline{
      color: $alt;
    }
    a {
      color: $alt;
      &:hover,
      &:focus {
        color: $lighter-alt;
      }
    }
    ul,ol{
      li{
        border-bottom-color: rgba($primary, 0.25);
      }
    }
  }
  

  // .dropdown a.dropdown-toggle,
  .portlet-topper-toolbar a{
    color: #777;
  }
  
  .alt-color{
    color: $alt !important;
  }
  
  #mobile-navigation{
    background: $darker-background;
    color: $alt;

    .site-nav a{
      color: $alt;
    }
    .return-to-cmap{
      color: $primary;
    }
  }

  
  #heading{
    .site-subheadline{
      color: $primary;
    }
    input::placeholder{
      color: $alt;
    }
    .form-control {
      color: $alt;
      background-color: $darker-background;
      border-color: transparent;
    }
    .input-group-btn{
      .btn{
        background-color: $darker-background;
        border-color: transparent;
        color: $alt;
        &:hover{
          background-color: $darker-background;
        }
      }
    }
  }
  &.has-cover-photo{
    #heading{
      .site-subheadline{
        color: $alt;
      }
    }
  }

  .logo{
    svg{
      path,polygon{
        &[fill="#000000"]{
          fill: $alt;
        }
      }
    }
  }

  #navigation{
    a{
      color: $alt;
      &:hover{
        color: $lighter-alt;
        border-top: 0.1em solid $lighter-alt;
      }
    }
    .return-to-cmap{
      color: $primary;

      &:hover{
        color: $primary;
      }
    }
  }
  &.has-cover-photo{
    #navigation{
      .return-to-cmap{
        color: $alt;
        &:hover{
          color: $alt;
        }
      }
    } 
  }

  #breadcrumbs{
    .breadcrumb{
      $percent: 0.25;
      border-top-color: rgba($primary, $percent);
      border-bottom-color: rgba($primary, $percent);

      & > .active {
        color: $primary;
      }
    }

    .share-button,
    .close-button {
      color: $primary;

      *[fill="#3A5776"],
      *[fill="#3C5976"]{
        fill: $primary;
      }

      &:hover,
      &:focus,
      &.focus {
        color: $primary;

        *[fill="#3A5776"],
        *[fill="#3C5976"]{
          fill: $primary;
        }
      }
    }
    a{
      color: $alt;
    }
  }

  &.has-cover-photo{
    #breadcrumbs{
      .breadcrumb{
        & > .active {
          color: $alt;
          opacity: 0.5;
        }
      }
      .share-button,
      .close-button {
        color: $alt;

        *[fill="#3A5776"],
        *[fill="#3C5976"]{
          fill: $alt;
        }

        &:hover,
        &:focus,
        &.focus {
          color: $alt;

          *[fill="#3A5776"],
          *[fill="#3C5976"]{
            fill: $alt;
          }
        }
      }
    }
  }




  .page-nav{
    ul li a{
      color: $alt !important;
    }
  }

  .picture-figure{
    .picture-footnote{
      color: $alt;
    }
  }

  .glyphicon{
    *[fill="#3C5976"],
    *[fill="#3A5776"]{
      fill: $alt;
    }
  }

  .btn-plain {
    @include button-variant($alt, $primary, $btn-plain-border);
  }

  &.signed-in{
    .portlet-column-content.empty {
      background: lighten($background, 25%);
    }
    .portlet-column-content.empty {
      opacity: 0.2;
      &:hover{
        opacity: 0.5;
      }
    }
  }

  

  // widgets

  .onto2050-basic-web-content{

    .page-cards{
      .bottom{
        background: $lighter-background;
        a {
          @include clear-underline-link($lighter-alt);
        }
      }
    }

    .glossary-term{
      .term-name{
        border-bottom: 1px dotted $primary;
      }
      .term-definition-container{
        background: $lighter-background;
      }
      .term-definition{
        color: $alt;
      }
      .term-down-arrow{
        background: $lighter-background;
      }
      .term-close path{
        fill: $alt;
      }
    }

  }

  .onto2050-related-pages{
    .headline-container{
      border-top: 1px solid rgba($primary, 0.5);
      border-bottom: 1px solid rgba($primary, 0.5);
    }
    .page-item-link{
      @include clear-underline-link($alt);
    }
    .dot-nav{
      .nav-item:after{
        border-color: 1px solid $primary;
      }   
      .nav-item:hover:after{
        background: $primary;
      }
      .nav-item.active:after{
        background: $primary;
        border-color: $primary;
      }
    }
  }

  div.cover-photo-container {
    .gradient-fade{
      background: linear-gradient(to bottom, transparent, $background);      
    }
  }


  .before-after-widget .label-row h4{
    color: $primary;
  }

  .onto2050-slider::-webkit-scrollbar-thumb{
    background: $alt;
  }
  .onto2050-slider::-webkit-scrollbar-track{
    background: rgba($alt,0.25);
  }

  .onto2050-staggered-images{
    .caption{
      background: $background;
    }
  }
}

// https://chicagotonight.wttw.com/2018/06/25/when-does-taking-moral-stand-cross-line-incivility?utm_source=WTTW%2FWFMT+Subscribers&utm_campaign=b6d9245425-Daily_Briefing_Thursday_10_20_16_COPY_01&utm_medium=email&utm_term=0_5bc493c2d1-b6d9245425-95897685

//  https://chicagotonight.wttw.com/2018/06/25/look-biggest-us-supreme-court-decisions-term-nears-end?utm_source=WTTW%2FWFMT+Subscribers&utm_campaign=b6d9245425-Daily_Briefing_Thursday_10_20_16_COPY_01&utm_medium=email&utm_term=0_5bc493c2d1-b6d9245425-95897685
