#profile-grid{

  .profile-grid-item{
    position: relative;
    display: block;
    min-height: 28vw;
    border-top: 1px solid $light-grey;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;

    &:nth-child(odd){
      border-right: $site-border;
    }
    &:nth-last-child(1),
    &:nth-last-child(2) {
      border-bottom: $site-border;
    }

    &:hover{
      &:after{
        opacity: 0.2;
      }
    }

    &:after{
      content: '';
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      background: $light-blue;
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s ease-in-out;
    }
    @include tablet(){
      min-height: 56vw;
    }
  }

  .profile-text{
     @include container-margin();
     margin-top: 1.5em;
     span{
       display: block;
       font-weight: $font-weight-bold;
       line-height: 1.5;
     }
     .profile-name{
       color: $black;
     }
     .profile-title{
       color: $light-blue;
     }
  }

}
