#profile-grid{

  .profile-grid-item{
    display: block;
    min-height: 28vw;
    border-top: 1px solid $light-grey;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;

    &:nth-child(odd){
      border-right: $site-border;
    }
    &:nth-last-child(1),
    &:nth-last-child(2) {
      border-bottom: $site-border;
    }

    @include tablet(){
      min-height: 56vw;

    }
  }

  .profile-text{
     @include container-margin();
     margin-top: 1.5em;
     span{
       display: block;
       font-weight: $font-weight-bold;
       line-height: 1.5;
     }
     .profile-name{
       color: $black;
     }
     .profile-title{
       color: $light-blue;
     }
  }

}
