section.profile-header{
  border-bottom: $site-border;
  height: 50vw;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;

  h2{
    font-family: $font-family-serif;
    font-weight: $font-weight-normal;
    position: relative;
    &:before{
      content: '“';
      position: absolute;
      left: 0;
      top: 0;
      font-size: $font-size-h2;
      transform: translateX(-100%);
      // width: $font-size-h2;
      // height: $font-size-h2;
    }
    &:after{
      content: '”';
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      font-size: $font-size-h2;
      // width: $font-size-h2;
      // height: $font-size-h2;
    }
  }

  .mobile-image{
    display: none;
  }

  span{
    display: block;
    line-height: 1.5;
    font-weight: $font-weight-bold;
  }

  .profile-name{
    color: $black;
  }

  .profile-title{
    color: $light-blue;
  }

  @include tablet(){
    height: auto;
    background: transparent !important;
    border-bottom: none;
    h2{
      @include container-margin(0.5em);
    }
    .profile-text{
      margin-top: 2em;
    }
    .mobile-image{
      display: block;
      border-bottom: $site-border;
    }
    .profile-name,
    .profile-title{
      @include container-margin(0);
    }
  }
}
