#main-header{
  position: relative;
	width: 100%;
  height: auto;
	background: #fff;

  .nav-row-one{
  	display: flex;
  	align-items: center;
  	justify-content: space-between;

    @include section-padding();
    padding-top: $unit;
    padding-bottom: $unit;

    .left{
      display: flex;
      align-items: center;
    }

    .right{
      flex: 0 0 auto;
      margin-right: 0;
    }

    .side-nav-trigger{
      display: none;

      @include desktop(){
        display: block;
      }
    }

    .hamburger{
      padding-right: $size0;
      padding-left: 0;
      outline: none;

      @include tablet(){
        padding-right: $size-1;
        padding-left: 0;
      }
      @include phone(){
        padding-left: 0;
        padding-right: 0;
      }

      .hamburger-box{
        height: $unit;
        transform: translateY(0.2em);
      }
      
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after{
        background: $grey-blue;
        width: $size2;
        height: 3px;
        border-radius: 0;
      }
    }

    .logo{
      padding-left: 0;

      @include desktop(){
        padding-left: 0;
      }
      @include tablet(){
        span{
          display: none;
        }
      }
    }

    .input-group{
    	flex: 0 0 auto;
    }

  }


  .nav-row-two{
    border-bottom: none;
    padding-left: $unit * 3;
    @include desktop(){
      display: none;
    }
  }

  .main-nav-links{

  	li{
  		display: inline-flex;
  		align-items: center;
      height: $unit * 2;
      margin-right: $size0;
  		border-top: 2px solid transparent;

      &:hover{
  			border-top-color: darken($primary, 10%);
  		}

      &:last-of-type{
        margin-right: 0;
      }
  	}
  }
}

.side-nav-active{
  #main-header{
    .left .logo{
      opacity: 0;
      pointer-events: none;
    }
  }
}
