.main-nav-links,
.side-nav-links{

  ul{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li{
    transition: all 0.15s ease;

    a{
      display: block;
      @extend .whitney-bold;
      color: $primary;
    }
  }
}
