#scroll-nav{
  position: fixed;
  top: 0;
  z-index: 1000;
  transform: translateY(-100%);

  display: flex;
  align-items: center;
  width: 100%;
  height: $unit * 2;
  @include section-padding();

  background: $off-white;
  border-bottom: 1px solid darken($off-white, 10%);
  transition: all 0.2s ease;

  @if($debug){
    top: -1px;
  }

  &.active{
    transform: translateY(0);
  }

  .col-xl-3,
  .col-xl-10{
    display: flex;
    align-items: center;
  }

  h4.page-title{
    @extend .whitney-normal__bold;
    transform: translateY(0.075em);
    color: $dark-blue;
    opacity: 0;
    transition: all 0.2s;

    &.active{
      opacity: 1;
    }
  }

  .share-menu{
    top: 50%;
    transform: translateY(-50%);
  }

  .addthis_inline_share_toolbox{
    transform: scale(0.6) translateY(0.1em) translateX(-25%);
  }

  .close-button,
  .share-button{
    top: auto;
    height: auto;
    transform: translateY(0.1em);
    @include desktop(){
      opacity: 0;
      pointer-events: none;
    }
  }
  .page-url{
    background: darken(#E4EBEE, 10%);
  }
  .side-nav-trigger{
    display: inline-flex;
  }

  .hamburger{
    position: relative;
    display: inline-flex;
    padding-left: 0;
    transform: scale(0.5) translateX(-50%) translateY(1px);

    .hamburger-inner, 
    .hamburger-inner::before, 
    .hamburger-inner::after{
      background-color: $grey-blue;
      border-radius: none;
    }
  }

  .logo{
    position: relative;
    display: inline-flex;
    @include logo-size(0.95em);
    transform: translateY(1px);
    opacity: 1;
    transition: all 0.2s;
    
    &.hidden{
      opacity: 0;
    }
  }
}
