#scroll-nav{
  position: fixed;
  top: 0;
  z-index: 1000;
  transform: translateY(-100%);

  display: flex;
  align-items: center;
  width: 100%;
  height: $unit * 2;
  @include section-padding();

  background: $off-white;
  transition: all 0.2s ease;

  @if($debug){
    top: -1px;
  }

  &.active{
    transform: translateY(0);
  }

  .col-xl-3,
  .col-xl-13{
    display: flex;
    align-items: center;
  }

  .col-xl-13{
    h4{
      @extend .whitney-bold;
      transform: translateY(0.075em);
    }
  }

  .side-nav-trigger{
    display: inline-flex;
  }

  .hamburger{
    position: relative;
    display: inline-flex;
    padding-left: 0;
    transform: scale(0.5) translateX(-50%);

    .hamburger-inner, 
    .hamburger-inner::before, 
    .hamburger-inner::after{
      background-color: $grey-blue;
      border-radius: none;
    }
  }

  .logo{
    position: relative;
    display: inline-flex;
    @include logo-size($size0);
  }
}
