#side-nav{
  position: fixed;
  z-index: 100;
  transform: translateX(-100%);

  padding: $unit;
  height: 100%;

  border-right: 1px solid $off-white;
  background: $almost-white;
  
  transition: $side-nav-animation;

  .logo{
    margin-bottom: $unit;
    @include logo-size($size1);
  }

  .search-widget{
    margin: $size0 0;
    @include search-widget-color($dark-blue, #A8BCC7);
  }

  &.side-nav-active{
    transform: translateX(0);
  }
}
