#footer{
  position: relative;
  bottom: 0; left: 0;
  z-index: 1000;
  width: 100%;
  background: #ecf0f2;
  border-top: 1px solid darken($off-white, 10%);
  border-top: 4px solid #3c5976!important;

  .container{
    width: 100%;
    @include section-padding();
  }

  .desktop-content{
    @include tablet(){
      display: none;
    }
  }

  .mobile-content{
    display: none;
    @include tablet(){
      display: block;
    }
  }

  .row{
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    height: $unit * 2;
    padding-top: 0.3em;
    @include desktop(){
      height: $unit * 4;
    }

    @include tablet(){
      flex-wrap: wrap;
    }
  }

  // all are columns in the footer grid
  .footer-jump-to-top,
  .footer-page-links,
  .footer-social-links{
    transform: translateY(-0.18em);

    @include tablet(){
      display: flex;
      justify-content: center;
    }
  }

  .footer-jump-to-top{
    span{
      @extend .whitney-small__bold;
    }

    svg{
      position: relative;
      transform: translateY(0.2em);
    }
  }

  .footer-page-links{
    padding: 0;
    a{
      @include tablet(){
        margin-right: $size-2;
      }
      margin-right: 0;
    }
  }

  .footer-social-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include tablet(){
      justify-content: center;
    }
  }

  $icon-size: $size0;
  .footer-social-link{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .svg-icon{
    width: $icon-size;
    height: $icon-size;
    margin-right: $size-3;

    &.twitter{
      height: #{$icon-size - 0.1em};
    }
    &.facebook{
      height: #{$icon-size - 0.1em};
      // width: #{$icon-size - 0.22em};
    }
    path{
      fill: $grey-blue;
      transition: all 0.2s ease;
    }
  }

  .footer-social-link:hover{
    .svg-icon{
      path{
        fill: $dark-blue;
      }
    }
  }

  span{
    @extend .whitney-small;
    font-size: x-small;
  }

  span,a{
    color: $grey-blue;
  }

}
