// CMAP - 413
$portlet-borderless-padding: map-get($spacers, 3) !default;

/* ---------- Portlet topper ---------- */

$portlet-topper-bg: #f8f8f8 !default;
$portlet-topper-border: #686868 !default;
$portlet-topper-color: $navbar-dark-color !default;
$portlet-topper-link-color: #777 !default;
$portlet-topper-link-hover-color: #333 !default;

$portlet-topper-border-radius: $navbar-border-radius $navbar-border-radius 0 0 !default;

$portlet-topper-border-bottom-width: 1px !default;
$portlet-topper-border-left-width: 1px !default;
$portlet-topper-border-right-width: 1px !default;
$portlet-topper-border-top-width: 1px !default;
$portlet-topper-border-width: $portlet-topper-border-top-width $portlet-topper-border-right-width $portlet-topper-border-bottom-width $portlet-topper-border-left-width !default;

$portlet-content-border-radius: 0 0 $navbar-border-radius $navbar-border-radius !default;

$portlet-content-border-bottom-width: 1px !default;
$portlet-content-border-left-width: 1px !default;
$portlet-content-border-right-width: 1px !default;
$portlet-content-border-top-width: 1px !default;
$portlet-content-border-width: $portlet-content-border-top-width $portlet-content-border-right-width $portlet-content-border-bottom-width $portlet-content-border-left-width !default;

/* ---------- Portlet decorator ---------- */

$portlet-decorate-bg: #eee !default;
$portlet-decorate-border-color: #e9e9e9 !default;
$portlet-decorate-border-style: solid !default;
$portlet-decorate-border-width: $portlet-content-border-width !default;

// CMAP-413

$portlet-decorate-bg: $body-bg !default;
$portlet-decorate-border-color: $navbar-default-border !default;
$portlet-decorate-border-style: solid !default;
$portlet-decorate-border-width: $portlet-content-border-width !default;
$portlet-decorate-padding: map-get($spacers, 3) !default;