// CMAP - 413
$portlet-borderless-padding: map-get($spacers, 3) !default;
$navbar-default-bg: #f8f8f8 !default;;
$navbar-default-border: #686868 !default;;
$navbar-default-color:	#777 !default;
$navbar-default-link-color:	#777 !default;
$navbar-default-link-hover-color: #333 !default;
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

/* ---------- Portlet topper ---------- */

$portlet-topper-bg: $navbar-default-bg !default;
$portlet-topper-border: $navbar-default-border !default;
$portlet-topper-color: $navbar-default-color !default;
$portlet-topper-link-color: $navbar-default-link-color !default;
$portlet-topper-link-hover-color: $navbar-default-link-hover-color !default;

$portlet-topper-border-radius: $navbar-border-radius $navbar-border-radius 0 0 !default;

$portlet-topper-border-bottom-width: 1px !default;
$portlet-topper-border-left-width: 1px !default;
$portlet-topper-border-right-width: 1px !default;
$portlet-topper-border-top-width: 1px !default;
$portlet-topper-border-width: $portlet-topper-border-top-width $portlet-topper-border-right-width $portlet-topper-border-bottom-width $portlet-topper-border-left-width !default;

$portlet-content-border-radius: 0 0 $navbar-border-radius $navbar-border-radius !default;

$portlet-content-border-bottom-width: 1px !default;
$portlet-content-border-left-width: 1px !default;
$portlet-content-border-right-width: 1px !default;
$portlet-content-border-top-width: 1px !default;
$portlet-content-border-width: $portlet-content-border-top-width $portlet-content-border-right-width $portlet-content-border-bottom-width $portlet-content-border-left-width !default;

/* ---------- Portlet decorator ---------- */

$portlet-decorate-bg: $gray-lighter !default;
$portlet-decorate-border-color: $navbar-default-border !default;
$portlet-decorate-border-style: solid !default;
$portlet-decorate-border-width: $portlet-content-border-width !default;

// CMAP-413

$portlet-decorate-bg: $body-bg !default;
$portlet-decorate-border-color: $navbar-default-border !default;
$portlet-decorate-border-style: solid !default;
$portlet-decorate-border-width: $portlet-content-border-width !default;
$portlet-decorate-padding: map-get($spacers, 3) !default;