.journal-content-article {

  .table-container {
    padding: 0;
  }
  h1 {
    @extend .whitney-huge;
  }
  h2 {
    @extend .whitney-large__bold;
  }
  h3{
    @extend .whitney-bold;
  }

  h3, h4, h5, h6 {
    @extend .whitney-bold;
    color: $off-white-text;
  }
  h2, h3, h4, h5, h6 {
    margin-top: $size-2;
    margin-bottom: $size-4;
  }
  p {
    margin-bottom: $size0;
  }
  h1,h2,h3{
    margin-top: $size-4;
    margin-bottom: $size-2;
  }
  p, ul {
    max-width: 37em;
  }
  a{
    @extend .underline-link;
  }
}