.journal-content-article {

  .table-container {
    padding: 0;
  }
  h1 {
    @extend .whitney-huge;
  }
  h2 {
    @extend .whitney-bold;
  }
  h3, h4, h5, h6 {
    @extend .whitney-bold__light-blue;
  }
  h2, h3, h4, h5, h6 {
    margin-top: $size-2;
    margin-bottom: $size-4;
  }
  p {
    margin-bottom: $size0;
  }
  p, ul {
    max-width: 37em;
  }
}