.journal-content-article {

  .table-container {
    padding: 0;
  }
  h1 {
    @extend .whitney-huge;
  }
  h2 {
    @extend .whitney-large__bold;
  }
  h3 {
    @extend .whitney-bold;
  }

  h3, h4, h5, h6 {
    @extend .whitney-bold;
    color: $off-white-text;
  }
  h1 {
    margin-bottom: $size-2;
  }
  h2, h3, h4, h5, h6 {
    margin-bottom: $size-2;
  }
  p {
    margin-bottom: $size0;
  }
  a {
    @extend .underline-link;
  }
}
