*{
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	font-weight: inherit;
	line-height: inherit;
  margin: 0;
}

.journal-content-article {

  .table-container {
    padding: 0;
  }

  h1 {
    @extend .whitney-huge;
  }
  h2 {
    @extend .whitney-large__bold;
  }
  h3 {
    @extend .whitney-normal__bold;
  }
  h4, h5, h6 {
    @extend .whitney-normal__bold;
    color: $off-white-text;
  }
  h1 {
    margin-bottom: $size0;
  }
  h2, h3, h4, h5, h6 {
    margin-top: $size0;
    margin-bottom: $size-2;
  }
  p {
    margin-bottom: $size0;
  }
  a {
    @extend .underline-link;
  }
}