*{
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  @if($debug) {
    border-top: 2px solid red;
    @include tv() {
      border-top: 2px solid orange;
    }
    @include desktop() {
      border-top: 2px solid yellow;
    }
    @include tablet() {
      border-top: 2px solid green;
    }
    @include phone() {
      border-top: 2px solid blue;
    }
  }
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	font-weight: inherit;
	line-height: inherit;
  margin: 0;
}

.journal-content-article {

  .table-container {
    padding: 0;
  }

  h1 {
    @extend .whitney-huge;
  }
  h2 {
    @extend .whitney-large__bold;
  }
  h3 {
    @extend .whitney-normal__bold;
  }
  h4, h5, h6 {
    @extend .whitney-normal__bold;
    color: $off-white-text;
  }
  h1 {
    margin-bottom: $size0;
  }
  h2, h3, h4, h5, h6 {
    margin-top: $size0;
    margin-bottom: $size-2;
  }
  p {
    margin-bottom: $size0;
  }
  a {
    @extend .underline-link;
  }
  ul,ol{
    @extend .presna-normal;
    font-size: 1em;
    line-height: 1.5;

    p{
      margin-bottom: 0;
    }
  }

  ul{
    list-style: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4gIDxjaXJjbGUgY3g9IjEwIiBjeT0iMTAiIHI9IjIuNSIgZmlsbD0iIzVGN0E4NyIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);

    ul{
      list-style: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4gIDxjaXJjbGUgY3g9IjEwIiBjeT0iMTAiIHI9IjIuNSIgZmlsbD0iI0Q3REZFNCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
    }
  }
}