// this div is to prevent overflow when the side nav is open
#viewport{
  position: relative;
  overflow-x: hidden;
  // sometimes this div catches scrolling
  // this code will prevent that from happening
  pointer-events: none;
  *{ pointer-events: all; }
}

// 90% of things are in this div
#wrapper{
  position: relative;
  transition: $side-nav-animation;
  width: 100%;
  height: 100%;

    // default code, try to remove this
  padding-bottom: 0;
	padding-top: 0;
	position: relative;
}

// what the user is on the page to see
#main-content{
  padding-bottom: $unit * 4;

  .portlet-layout{
    padding: 0 #{$unit * 3};

    @include tablet(){
      padding: 0 $unit * 2;
    }
    @include phone(){
      padding: 0 $unit;
    }
  }

  .h1{
    font-size: $size2;
    font-weight: 500;
    line-height: 1.1em;
    margin-bottom: $unit;
  }

  .h2{
    margin-bottom: $unit;
  }

  h3{
    font-size: #{$size0 + 0.125em};
    margin-bottom: $size-2;
  }

  p{
    font-family: 'Presna';
    letter-spacing: 0.01em;
    line-height: 1.333;
    margin: 0;
    margin-bottom: $size1;
    &:last-of-type{
      margin-bottom: 0;
    }
  }

  a{
    $factor: 25%;
    color: saturate(lighten($primary, $factor/2), $factor);

    &:hover{
      text-decoration: none;
      color: saturate($primary, $factor);
    }
  }
}
