/* ---------- Column widths ---------- */

.portlet-column-content.empty {}

/* ---------- Wrapper ---------- */

#wrapper {
	padding-bottom: $wrapper-padding-bottom;
	padding-top: 0;
	position: relative;
}
