@charset "UTF-8";

@media print {
  /* Adding page margins */
  @page {
    margin: 2cm;
  }

  /* Do not display navigation markup */
  nav#breadcrumbs,
  header#main-header,
  footer#footer,
  div.jump-to-top-button,
  div.empty,
  div.page-nav-container {
    display: none;
  }

  /* "Push" down page date so it doesn't appear clipped */
  div.page-date {
    margin-top: 2cm;
  }

  /* Remove extra padding from Web Content with Title With Sections Template */
  .title-with-sections {
    padding-top: 0;
  }

}
