@charset "UTF-8";

@media print {
  a:after {
    border-bottom: 1px dotted !important;
    font-style: italic;
    font-weight: lighter;
  }

  .branding {
    width: 100% !important;

    a {
      &:after {
        display: none;
      }
    }
  }

  .nav-meta {
    display: none !important;
  }

  .nav-main {
    border-bottom: 1px solid #C9D5DD;

    a {
      &:after {
        display: none;
      }
    }

    .nav-main-sub-wrap {
      display: none !important;
    }
  }

  .site-main {
    margin-top: 24px;

    .page-meta-data {
      display: none !important;
    }

    .primary {
      width: 100% !important;
      padding: 40px;
      float: none !important;

      .the-content {
        width: 100% !important;
      }

      .in-page-anchors {
        display: none !important;
      }

      .featuredcard-portlet {
        [class*="span"] {
          width: 100% !important;

          img {
            display: block;
          }
        }
      }

      .featured-card-title {
        margin-top: 24px;
      }
    }

    .secondary {
      display: none !important;
    }

    .lead,
    .bg-intro,
    .constrain {
      min-height: 0 !important;
      width: 100% !important;

      .more {
        display: none !important;
      }
    }
  }

  .footer-1 {
    margin-left: 16px;
    float: none !important;
  }
}
