@charset "UTF-8";

body{
	font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
	font-size: 18px;

	@include desktop(){
		font-size: 16px;
	}
	@include tablet(){
		font-size: 14px;
	}
	@include phone(){
		font-size: 12px;
	}
}
