@charset "UTF-8";

// shows and hides the colored bars to identify viewports
$debug: true;

// Font
$font-sans: "Whitney SSm A", "Whitney SSm B", sans-serif;
$font-serif: "Prensa LF", serif;

// colors
$color: #000;
$color-charcoal: rgb(35, 39, 45);

// $color-charcoal: rgb(70, 80, 90)
$color-grey: rgb(121, 150, 171);
$color-grey-90: tint($color-grey, 90%);
$color-grey-80: tint($color-grey, 80%);
$color-grey-60: tint($color-grey, 60%);
$color-grey-40: tint($color-grey, 40%);
$color-grey-20: tint($color-grey, 20%);
$color-grey-10: tint($color-grey, 10%);
$color-blue: rgb(50, 150, 200);
$color-metropulse: #00508B;
$blue-dark: #3c5976;
$blue-med: #88a0b2;
$blue-light: #e4eaee;
$white: #ffffff;
$accent: #3897c6;

$blue: #3C5976;
$dark-blue: darken($blue, 25%);
$light-blue: #E4EBEE;
$primary: $blue;

// sizes
$variation: 1.414;
$size0: 1em;
$size1: $size0 * $variation;
$size2: $size1 * $variation;
$size3: $size2 * $variation;
$size4: $size3 * $variation;
$size5: $size4 * $variation;
$size6: $size5 * $variation;
$size7: $size6 * $variation;
$size8: $size7 * $variation;
$size9: $size8 * $variation;
$size10: $size9 * $variation;
$size-1: $size0 / $variation;
$size-2: $size-1 / $variation;
$size-3: $size-2 / $variation;
$size-4: $size-3 / $variation;
$size-5: $size-4 / $variation;

$unit: $size1;

$breakpoint-phone: 400px;
$breakpoint-tablet: 750px;
$breakpoint-desktop: 1150px;
$breakpoint-tv: 1500px;

$side-nav-animation: all 0.4s ease;
