.onto2050-actions{
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;

  .actions-header{  
    .whitney-normal{
      padding-bottom: $grid-gutter-width / 2;
    }

    @include phone(){
      display: none;
    }
  }


  .mobile-headline,
  .mobile-hr {
    display: none;
    @include phone(){
      display: block;
    }
  }

  .actions-row{
    *{
      margin: 0;
    }

    .col-sm-10, .col-sm-6{
      padding-top: $grid-gutter-width / 2;
      padding-bottom: $grid-gutter-width / 2;
    }
  }


  hr{
    margin: 0;
    border-bottom: 1px solid black;
  }
}
