
.portlet-layout.row > .col-md-8 .onto2050-basic-web-content .inline-center-col{
  display: none;
}

.journal-content-article{

  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
  }
  a{
    @include underline-link($blue);
  }
  p{
    @extend .presna-normal;
  }
  .presna-large{
    @extend .presna-large;
    a{
      @include clear-underline-link($blue);
    }
  }
  img{
    width: 100%;
  }
  blockquote{
    padding: 0;
    margin: 3rem 0;
    // @extend .hang-quotes;

    p{
      @extend .presna-large;
    }
  }

  .inline-center-col{
    .col-lg-4:first-of-type > *{
      @include container-margin-left();
    }
  }
  
}
