body.has-cover-photo {
  div.cover-photo-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;

    .image-mask{
      height: 100vh;
      width: 100%;
    }
  }

  &.signed-in{
    .onto2050-cover-photo-widget{
      height: 3rem;
    }
  }
}
