.portlet-layout > .col-md-16 {
  .onto2050-gallery {
    .gallery-root{
      @include container-margin();
    }
  }
}
.onto2050-gallery {

  .gallery-container{
    position: relative;
    z-index: 100;
  }

  .gallery-controls{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;

    .left, .right{
      position: absolute;
      height: 100%;
      width: 25%;
      top: 0;
      cursor: pointer;

      svg{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: $grid-gutter-width !important;
        height: $grid-gutter-width !important;
      }
    }
    .left{
      left: 0;
      svg{
        left: $grid-gutter-width;
      }
    }
    .right{
      right: 0;
      svg{
        right: $grid-gutter-width;
      }
    }
  }

  .gallery-root{
    position: relative;
  }

  .gallery-root,
  .caption-container{
    transition: all 0.4s ease-in-out;
  }

  img.slide{
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  .caption{
    position: absolute;
    left: 0;
    padding-top: $grid-gutter-width;

    &.empty{
      padding-top: 0;
    }
  }

  img.slide,
  .caption{
    opacity: 1;
    transition: all 0.3s ease;
    pointer-events: none;

    &.invis{
      opacity: 0;
      z-index: 5;
    }
  }

  .dot-nav{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    margin-bottom: $grid-gutter-width / 2;
  }
}
