
.page-nav{
  position: absolute;
  z-index: 99;
  width: 100%;

  &.fixed{
    position: fixed;
    top: 45px;
    right: 0;
    width: 25%;
    padding-right: $grid-gutter-width/2;
    padding-left: $grid-gutter-width/2;

    @include desktop(){
      width: 18.75%;
    }
  }

  .widget-headline{
    font-weight: $font-weight-normal;
    color: $light-blue !important;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  ul li{
    border-top: 1px solid rgba($light-blue, 0.5);
    h4{
      margin-bottom: 0;
    }
    a{
      display: block;
      width: 100%;
      padding: 1rem 0;
      border-bottom: none !important;
      color: $cmap-primary !important;
    }
  }
}

.signed-in{
  .page-nav.fixed{
    top: 109px;
  }
}

body.blue-theme{
  .page-nav{
    ul li a{
      color: $white !important;
    }
  }
}
