.page-cards{

  .page-card{
    margin-bottom: 1.5rem;
  }
  .top-content{
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;

    img{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .bottom-content{
    padding: 1.5rem;
  }
}
