.picture-figure{
  position: relative;
  z-index: 98;
  
  .picture-img{
    position: relative;
    height: 85vh;
    background-size: cover;
    background-position: center;
  }

  .caption-row{
    position: absolute;
    width: 100%;
    &.bottom{ bottom: 0; }
    &.top{ top: 0; }
  }

  .picture-caption{
    color: $white;

    &.left{
      @include container-margin-left(3em);
    }
    &.right{
      @include container-margin-right(3em);
    }
  }

  .picture-footnote{
    padding: 1em 0;
    .icon{
      $size: $font-size-base;
      position: absolute;
      width: $size;
      height: $size;
      right: 100%;
      @include tablet(){
        position: relative;
        right: 0;
        display: inline-block;
        margin-right: 1em;
      }
    }
  }
}
.blue-theme{
  .picture-figure{
    .picture-footnote{
      color: $white;
    }
  }
}
