section[id^="portlet_constant_contact_sign_up"] {
	background: #88a0b2;
	margin: 0 -13px;
	padding: 26px 13px;

	.form-group {
		@media (max-width: 768px) {
			width: 100%;
		}
	}

	.contol-label{
		@media (max-width: 768px) {
			width: 100%;
		}
	}

	form {
		margin: 0 !important;
		overflow: hidden;
	}

	.row{
		margin-left: -13px;
		margin-right: -13px;
		padding: 0 4.242em;

		@media (max-width: 768px) {
			padding: 0 1.06em;
		}

	}

	.b-signup-form {

		.sign-up-text{
			color: $white;
			@extend .whitney-normal;
			padding-bottom: 1em;
		}

		label {
			float: left;
			color: white;
			font-size: 16px;
			font-weight: normal;
			margin-top: 12px;

			@media (max-width: 768px) {
				width: 100%;
				margin-bottom: 12px;
			}
		}

		.b-signup-form__input {
			width: 100%;
			float: left;
			height: 50px;
			@extend .whitney-small;

			@media (max-width: 768px) {
				width: 100%;
			}
		}

	}

	.text-warning{
		visibility: hidden;
	}


	.form-group {
		overflow: hidden;
		position: relative;
		width: 70%;
		float: left;
		padding-right: 10%;

		@media (max-width: 768px) {
			width: 100%;
			padding-right: 0;
		}

	}

	.button-holder {
		clear: none;
		width: 30%;
		float: left;
		margin: 0;
		padding: 0 1rem 0 0;

		@media (max-width: 768px) {
			width: 100%;
			padding: 0;
		}

		button {
			width: 100%;
			text-align: left;
			border-radius: 16px;
			border: none;
			font-size: 12px;
			line-height: 2em;

			@media (max-width: 768px) {
				width: 50%;
				font-size: 14px;
			}
		}
	}

	.form-validator-stack {
		height: 70px;
		@media (max-width: 768px) {
			height: 0px;
		}
	}
}