@charset "UTF-8";

/* BREADCRUMB PORTLET */
#portlet_com_liferay_site_navigation_breadcrumb_web_portlet_SiteNavigationBreadcrumbPortlet {
	.breadcrumb-cmap {
		 > li::before {
			content: '|';
		}
	}
	.breadcrumb-cmap {
		 > li.home::before {
			color: transparent;
		}
	}
	.breadcrumb-cmap {
		 > li.share::before {
			content: '';
		}
	}
}
