// #content
//   .portlet-boundary
//     .portlet
//       position: relative
/* signed out */
.signed-out {
  .portlet-topper {
    @extend .hidden;
  }
}

/* signed in */
.signed-in {
  .portlet-boundary {
    .portlet-topper {
      display: block;
      visibility: visible;
    }
  }

  .col_1_2_1-12_48_12,
  .primary {
    .portlet-boundary {
      margin-bottom: 16px;
      border: 1px solid #ccc;

      .portlet {
        .portlet-topper {
          display: block;
          visibility: visible;
          min-height: 48px;
        }
      }
    }
  }
}

.portlet-content {
  padding: 0;
}

.portlet-layout,
.portlet-column {
  display: block;

  .portlet-column-content {
    padding: 0;
  }
}

.portlet-boundary.constrain {
  width: ($bs-width + $bs-margin) * 9;
}
