<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<filter>
<filter-name>Header Filter</filter-name>
<filter-class>
com.liferay.portal.kernel.servlet.PortalClassLoaderFilter
</filter-class>
<init-param>
<param-name>filter-class</param-name>
<param-value>
com.liferay.portal.servlet.filters.header.HeaderFilter
</param-value>
</init-param>
<init-param>
<param-name>url-regex-ignore-pattern</param-name>
<param-value>.+/-/.+</param-value>
</init-param>
<init-param>
<param-name>Cache-Control</param-name>
<param-value>max-age=315360000, public</param-value>
</init-param>
<init-param>
<param-name>Expires</param-name>
<param-value>315360000</param-value>
</init-param>
<init-param>
<param-name>Vary</param-name>
<param-value>Accept-Encoding</param-value>
</init-param>
</filter>
<filter>
<filter-name>GZip Filter</filter-name>
<filter-class>
com.liferay.portal.kernel.servlet.PortalClassLoaderFilter
</filter-class>
<init-param>
<param-name>filter-class</param-name>
<param-value>com.liferay.portal.servlet.filters.gzip.GZipFilter</param-value>
</init-param>
</filter>
</web-app>