.banner-with-dynamic-links{
    margin: 0 -13px;

    .ratio{
        width: 100%;
        height: calc((100vw - 4rem) * (9/16));
        max-height: calc(1000px * 9/16);
        @include tablet() {  
            height: calc((100vw - 4rem) * (16/9));
            max-height: calc(600px * 16/9);
        }
      }

    .margin-fix{
        margin-left: 0px;
        margin-right: 0px;
        padding: 0 4.242em;

        @include tablet() { 
            padding: 0 $unit;;
        }
    }  

    .banner-message{
        margin-top: 2em;
 
        p{
            color: black !important;
            @extend .whitney-large__bold;

            @include tablet(){
                //Whitney Semi Large
                font-size: $font-size-h3;
              }
        }
    }

    .banner-links{
        margin-top: 1em;
        @include tablet(){
            margin-top: 0;
        }

        h1{
            margin-top: 0;
            color: black;
            @extend .whitney-huge__bold;
        }
        h2,h3{
            margin-top: 0;
            color: black !important;
            @extend .whitney-large__bold;
        }
        @include tablet(){
            h1{
                font-size: $size2;
                font-weight: $bold-weight;
            } 
        }
    }

    .page-nav-list{
        margin-right: $gutter-width;
        width: 100%;
        transition: all 0.2s ease;

        &.hidden{
        opacity: 0;
        pointer-events: none;
        }
    }

    .page-nav-item{
        display: flex;
        border-bottom: 1px solid $dark-grey;

        @include tablet(){
            border-bottom: $border;
        }
    
        &:last-of-type{
          border-bottom: 0;
        }
    
        a{
          @extend .whitney-normal__bold;
          padding: 1em 0; 
          border-bottom: none !important;

          @include tablet(){
            padding: 1em 2em;
          }
    
          &:hover{
            border-bottom: none;
            color: lighten($primary, 15%);
          }
        }
    }
}