.chart-legend {
  p {
    @extend .whitney-small; 
    color: $darker-grey !important;
  }

  .chart-legend-description,
  .chart-legend-key,
  .chart-legend-source,
  .chart-legend-download {
	margin-top: 1rem;
  }
  .chart-legend-download {
	a {
		display: inline-block;
		font-weight: 600;
		line-height: 30px;
		color: #5D7A90;
		svg,
		span {
			display: inline-block;
			vertical-align: bottom;
		}
	}
  }

  .chart-legend-section-title {
	  font-weight: 600;
  }

  .chart-legend-key-list {
    padding-left: 0 !important;
    li {
    @extend .whitney-small;
    color: $darker-grey !important;
	  list-style-type: none;
      line-height: 1;
      padding-bottom: 0.25em;

      &:last-of-type {
        padding-bottom: 0;
      }

      .chart-legend-key-image {
        display: inline-block;
        vertical-align: bottom;
        margin-right: 5px;
        height: 12px;
        width: 12px;
        padding: 10px 5px 5px 10px;
      }

      .chart-legend-key-label {
        display: inline;
        vertical-align: bottom;
        line-height: 1.5;
      }
    }
  }
}