.onto2050-endnote{
  position: relative;
  
  .onto2050-endnote-psudo-anchor{
    position: absolute;
    left: 0; bottom: 0;
    height: 100px;
    width: 1px;
  }
}

body#cmap-ckeditor{
  .onto2050-endnote{
    color: green !important;
    padding-right: 0.8em;

    &:not([endnote-page]){
      color: red !important;
    }

    &:after{
      content: '1';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 1em;
      height: 1em;
      margin-bottom: 1em;
      background: black;
      color: white;
      border-radius: 50%;
      line-height: 1;
      text-align: center;
      font-size: 0.6em;
    }
  }
}

.onto2050-endnote-dot{

  $size: 18px;
  @extend .whitney-small;
  @extend .bold;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.618) translateY(- #{$size * 0.25});

  width: $size;
  height: $size;

  background: black;
  color: white !important;
  line-height: 1;
  border-radius: 50%;
}

.onto2050-endnote-anchor{
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 100px;
}

.onto2050-endnotes-page{

  .page-section{
    margin-top: 3rem;

    header{
      background: black;
      padding: 0.5em 1em;

      a{
        color: white;
        border-bottom: 0;
      }
    }

    .endnote-row{
      position: relative;
      display: flex;
      border-bottom: 1px solid black;
      padding: 1em 0;

      @extend .presna-normal;
    }

    .endnote-row-anchor{
      position: absolute;
      bottom: 0; left: 0;
      width: 0; height: 100px;
    }
    
    .endnote-number{
      width: 2em;
      flex: 0 0 2em;
    }
    .endnote-details{
      flex: 1 1 auto;
      overflow-wrap: break-word;
      word-break: break-word;
    }
    .backlink{
      margin-left: 0.5em;
    }
  }
}