.onto2050-related-pages{

  .headline-container{
    border-top: 1px solid rgba($light-blue, 0.5);
    border-bottom: 1px solid rgba($light-blue, 0.5);
    padding: 2rem 0 1.5rem;
  }
  .page-item{
    padding-top: 3rem;
  }
  .page-item-date{
    margin-bottom: 0.5rem;
    &.empty{
      opacity: 0;
    }
  }
  .page-item-link{
    @include clear-underline-link($black);
  }
  .page-item-description{
    margin: 1rem 0 1.5rem;
  }
  .dot-nav{
    margin-top: $grid-gutter-width / 2;
  }
}

.portlet-layout.row > .col-md-8 .onto2050-related-pages{
  .headline-container{
    border-top: none;
    padding-top: 0;
  }
}