@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.search-button, .search-button-mobile, .search-button-tablet, section.search-results-widget .search-bar button.search-bar-submit {
  padding: 0.70721em 1.414em;
  border: 2px solid #004F93;
  border-radius: 1.414em;
  background-color: #E4EBEE;
  transition: all 0.4s ease;
  font-weight: 600;
  line-height: 1.2;
  color: $grey-blue !important; }
  .search-button:hover, search-button-mobile:hover, .search-button-tablet:hover, section.search-results-widget .search-bar button.search-bar-submit:hover {
    background: #004F93;
    color: #E4EBEE; }

    ::-webkit-input-placeholder { /* Edge */
      color: $grey-blue;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $grey-blue;
    }
    
    ::placeholder {
      color:$grey-blue;
    }

section.search-results-widget {
  padding: 0 4.242em; }
  @media screen and (max-width: 750px) {
    section.search-results-widget {
      padding: 0 2.828em; } }
  @media screen and (max-width: 400px) {
    section.search-results-widget {
      padding: 0 1.414em; } }
  section.search-results-widget .search-bar {
    position: relative;
    padding: 0 !important; }
    section.search-results-widget .search-bar svg {
      position: absolute;
      left: 1em;
      top: 50%;
      transform: translateY(-50%);
      width: 1.414em;
      height: 1.414em; }
    section.search-results-widget .search-bar svg path {
      fill: none;
      stroke: #004F93;
      stroke-width: 2px; }
    section.search-results-widget .search-bar input.search-bar-input {
      width: 100%;
      padding: 0.50015em 1.9994em;
      background-color: #E4EBEE;
      border: none;
      color: #004F93; }
    section.search-results-widget .search-bar button.search-bar-submit {
      position: absolute;
      right: 1.414em;
      top: 50%;
      transform: translateY(-50%);
      height: auto; }
  section.search-results-widget .search-filters {
    margin: 1em 0 !important; }
    section.search-results-widget .search-filters .col-xl-8:nth-of-type(odd) {
      padding-left: 0 !important; }
    section.search-results-widget .search-filters .col-xl-8:nth-of-type(even) {
      padding-right: 0 !important; }
    @media screen and (max-width: 1500px) {
      section.search-results-widget .search-filters .col-xl-8 {
        padding: 0 !important; } }
  section.search-results-widget .search-filter .search-filter-label {
    color: #3C5976; }
  section.search-results-widget .search-result hr.search-result-divider {
    margin: 0 0 1em 0;
    border-top: 2px solid #E4EBEE; }
  section.search-results-widget .search-result .search-result-type,
  section.search-results-widget .search-result .search-result-title {
    margin: 0; }
  section.search-results-widget .search-result .search-result-type {
    font-weight: bold;
    color: #587387;
  }
  section.search-results-widget .search-result .search-result-title p {
    color: #004F93;
    font-weight: bold;
    margin: 0.50015em 0; }
  section.search-results-widget .search-result p.search-result-preview {
    margin-bottom: 1em;
    word-wrap: break-word; }
  section.search-results-widget .search-result a.search-result-link {
    display: inline-block;
    margin: 1em 0; }
  section.search-results-widget .search-result:nth-of-type(odd) {
    padding-right: 0 !important; }
  section.search-results-widget .search-result:nth-of-type(even) {
    padding-left: 0 !important; }
  @media screen and (max-width: 1500px) {
    section.search-results-widget .search-result {
      padding: 0 !important; } }
  section.search-results-widget button.more-results {
    background: white; }
    section.search-results-widget button.more-results:hover {
      background: #004F93;
      color: #E4EBEE; }
  section.search-results-widget .loading {
    position: absolute;
    width: 100%; }
    section.search-results-widget .loading .spinner {
      margin: 1em auto;
      width: 3.99758em;
      height: 3.99758em;
      position: relative;
      text-align: center;
      animation: sk-rotate 2.0s infinite linear; }
    section.search-results-widget .loading .dot1, section.search-results-widget .loading .dot2 {
      width: 60%;
      height: 60%;
      display: inline-block;
      position: absolute;
      top: 0;
      background-color: #004F93;
      border-radius: 100%;
      animation: sk-bounce 2.0s infinite ease-in-out; }
    section.search-results-widget .loading .dot2 {
      top: auto;
      bottom: 0;
      animation-delay: -1.0s; }
  section.search-results-widget .jump-to-top.row {
    position: fixed !important;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 2.828em;
    padding: 0 4.242em; }
    @media screen and (max-width: 750px) {
      section.search-results-widget .jump-to-top.row {
        padding: 0 2.828em; } }
    @media screen and (max-width: 400px) {
      section.search-results-widget .jump-to-top.row {
        padding: 0 1.414em; } }
  section.search-results-widget .return-back-to-top {
    cursor: pointer; }
    section.search-results-widget .return-back-to-top span {
      color: #004F93; }
    section.search-results-widget .return-back-to-top svg path {
      fill: #004F93; }
    section.search-results-widget .return-back-to-top span, section.search-results-widget .return-back-to-top svg path {
      transition: all 0.2s; }
    section.search-results-widget .return-back-to-top:hover span {
      color: #004F93; }
    section.search-results-widget .return-back-to-top:hover svg path {
      fill: #004F93; }

section.search-results-widget .search-bar input.search-bar-input {
    font-weight: 600;
    font-size: 1.9994em;
    line-height: 1.1em;
}

section.search-results-widget .filter-button {
  -webkit-appearance: none;
  background: #E4EBEE;
  border: none;
  color: #3C5976;
  padding: 0.50015em 1em;
  border-radius: 1.414em;
  line-height: 1; }

section.search-results-widget  .filter-button:hover {
    background: #c5d4da; }

section.search-results-widget .filter-button.active {
    color: #FFFFFF;
    background: #3C5976; }

section.search-results-widget .filter-button.active:hover {
      background: #2b4054; }
