section[id^="portlet_constant_contact_sign_up"] {
	background: #88a0b2;
	padding: 26px 13px;
	margin-left: -12px;
	margin-right: -12px;
	
	.contol-label{
		@media (max-width: 768px) {
			width: 100%;
		}
	}

	form {
		@media (max-width: 768px) {
			padding: 0 $gutter-width;
		}
	}

	.row{
		padding: 0 4.242em;

		@media (max-width: 768px) {
			padding: 0 1.06em;
			display: initial;
		}
	}

	.b-signup-form {

		.sign-up-text{
			color: $white;
			@extend .whitney-normal;
			padding: $gutter-width 0;

			@media (max-width: 1440px) {
				font-size: $font-size-h6;
			}

			@media (max-width: 768px) {
				padding: 0 $gutter-width 1em;
			}
		}

		label {
			float: left;
			color: white;
			font-size: 16px;
			font-weight: normal;
			margin-top: 12px;

			@media (max-width: 768px) {
				width: 100%;
				margin-bottom: 12px;
			}
		}

		.b-signup-form__input {
			width: 100%;
			float: left;
			height: 50px;
			resize: none;
			padding-top: 16px;
			@extend .whitney-small;

			@media (max-width: 768px) {
				width: 100%;
				margin-bottom: 1.5em;
			}
		}

	}

	.text-warning{
		visibility: hidden;
	}


	.form-group {
		width: 62%;
		float: left;
		padding-right: 5%;
		margin-bottom: 0;

		@media (max-width: 768px) {
			width: 100%;
			padding-right: 0;
		}
	}

	.button-holder {
		clear: none;
		width: 30%;
		float: left;
		margin: .4em 0;

		@media (max-width: 768px) {
			width: 100%;
			padding: 0;
		}

		button {
			width: 100%;
			border-radius: 16px;
			border: none;
			font-size: 12px;
			line-height: 2em;

			@media (max-width: 768px) {
				width: 50%;
				font-size: 14px;
			}
		}
	}

	.form-validator-stack {
		height: 70px;
		@media (max-width: 768px) {
			height: 0px;
		}
	}

	.help-block {
		margin-top: 0;
		margin-bottom: 0;
		@extend .whitney-small;
	}
}
