.static-map-2050-container {
	border-top: 0.25rem solid #3C5976;
	border-bottom: 0.125rem solid #88a0b2;
	clear: both;
	color: #88a0b2;
	overflow: hidden;
	padding-top: 1.414em;
	padding-bottom: 1.414em;
}