.static-infographic {

	@include section-padding();
    padding-top: 2em;

    @include tablet(){
      padding: 1em $unit 0;
    }

    div[class^="col"] {
      @include tablet(){
        padding: 0 !important;
      }
    }

    .row{
      @include tablet(){
        margin-left: 0;
        margin-right: 0;
      }
    }

	border-top: 0.25rem solid #3C5976;
	border-bottom: 0.125rem solid #88a0b2;
	clear: both;
	overflow: hidden;
}