.topic-index{

  @include section-padding();
  
  @include tablet(){
    padding: 1em $unit 0;
  }

  .row{
    @include tablet(){
      margin-left: 0;
      margin-right: 0;
    }
  }

  .page-title{
    margin-top: 2rem;
  }

  .page-abstract{
    @include tablet(){ 
        .presna-large{
          line-height: 1.4;
          font-size: $font-size-base;
        }
    }
  }

  .page-abstract{
    margin-bottom: 3rem;
  }

  .horizontal-list {
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .navbar-list-hr{
    margin: 0 -100em;
    border: 0;
    border-top: $border;
    
    @include tablet(){ 
      display: none;
    }
  }

  .alpha-nav-wrapper{
    padding: 1em 0;
  }

  .jump-to-text{
    color: $grey !important; 
    letter-spacing: 0.05em;
    font-size: $font-size-h6 !important;
    margin-top: auto;

    &:last-of-type{
      visibility: hidden;
  }
    a{
      border-bottom: none;
    }
  }

  .select-wrapper {
    width: 100%;
	}

  .letter-list-hr{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: $border;
  }
  
  .nested{
    margin: 1em 0;

    .nested-list-hr{
      margin-top: 1em;
      margin-bottom: 0;
      border: 0;
      border-top: $border;
    }
  }

  ul.horizontal-list li {
    display: inline;
    list-style: none;
    @extend .whitney-normal__bold;
    color: $light-blue;
    font-weight: bold;

    .letter-link{
      border-bottom: none;
    }
  }

  .vertical-list {
    padding-left: 0;

    .letter-list-li:last-of-type{
      border-bottom: none;
    }
  }

  ul.vertical-list li {
    list-style: none;
    color: $black;
    @extend .whitney-normal__bold;
  } 

  .letter-list {
    padding-left: 0;

    li {
      padding-top: 1em;
      padding-bottom: 1em;
      list-style: none;

      .letter-link{
        border-bottom: none;
      }
    }
  }

  a:link{
    text-decoration: none;
  }
}


