.updates-publisher{

      @include section-padding();
      @include tablet(){
        padding: 1em $unit 0;
      }
  
      div[class^="col"] {
        @include tablet(){
          padding: 0 !important;
        }
      }
  
      .row{
        @include tablet(){
          margin-left: 0;
          margin-right: 0;
        }
      }

    .updates-header{
        @include tablet(){
            padding: 0 !important;
          }

        .updates-header-title{
            margin-top: 1em;
            @extend .whitney-huge__bold;
        }

        .updates-filter{
            .filter-button{
                $hover-darken: 10%;
                -webkit-appearance: none;
                background: $off-white;
                border: none;
            
                @extend .whitney-small__bold;
                color: $grey-blue;
                padding: $size-2 $size0;
                border-radius: $size1;
                line-height: 1;
            
                &:hover{
                    background: darken($off-white, $hover-darken);
                }
            
                &.active{
                    color: $white;
                    background: $grey-blue;
            
                    &:hover{
                        background: darken($grey-blue, $hover-darken);
                    }
                }
            }
        }

        .updates-filter-type,
        .updates-filter-topic{
            display: inline-block;
            margin: $size0 0;
            margin-right: $size-2;

            .updates-filter-label{
                color: $grey-blue;
                @extend .whitney-small__bold;
            }
        }

        .filter-button{
            $hover-darken: 10%;
            -webkit-appearance: none;
            background: $off-white;
            border: none;

            @extend .whitney-small__bold;
            color: $grey-blue;
            padding: $size-2 $size0;
            border-radius: $size1;
            line-height: 1;

            &:hover{
                background: darken($off-white, $hover-darken);
            }

            &.active{
                color: $white;
                background: $grey-blue;

                &:hover{
                    background: darken($grey-blue, $hover-darken);
                }
            }
        }
    }

    .updates-container{
        @include tablet(){
            padding: 0 !important;
          }

        article{
            margin-bottom: $size0;
        }
        
        hr.update-divider{
            margin: 0 0 $size0;
            border-top: 2px solid $off-white;
        }

        header{
            display: flex;
            align-items: center;
            margin-bottom: $size-2;

            .update-date,
            .update-categories{
                display: inline-block;
            }
        }

        .update-date{
            @extend .whitney-small__bold;
            //@extend .underline-link;
            border-bottom: none;
            transform: translateY(0.16em);
            &:hover{ 
                border-bottom: none; 
            }
        }

        .update-categories{
            margin-bottom: 0;
            list-style: none;
            padding-left: $size-2;

            li{
                display: inline-block;

                a{
                    @extend .whitney-small;
                    @extend .underline-link;
                }
            }
        }

        .update-title{
            @extend .whitney-large__bold;
            margin-bottom: $size-3;
        }

        .pagnation-container{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left{
                display: flex;
                align-items: center;
            }

            label{
                margin: 0;
                margin-right: $size-2;
                transform: translateY(0.1em);
            }

            .pagnation-number {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                $size: $size1;
                width: $size;
                height: $size;

                span{
                    @extend .whitney-small;
                }

                &.active{
                    background: $primary;
                    border-radius: 50%;
                    span{
                        color: $white;
                    }
                }
            }

            .pagnation-single{
                @extend .whitney-small__bold;
                margin-left: $size-2;

                &.disabled{
                    color: $off-white;
                    pointer-events: none;
                }
            }
        }
    }

    .header-back-to{
        display: block;
        margin-bottom: $size0;
        @extend .whitney-normal;
    }

    .asset-content{
        h1.whitney-huge{
            margin-bottom: $size-1;
        }
        .mobile-page-nav{
            display: none;
        }
    }

    .dropdown-input{
        border-color: $dark-grey;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='10' viewBox='0 0 15 10'%3E%3Cpolygon fill='%233C5976' points='7.68 5.965 2.364 1 1 2.462 7.68 8.701 14.36 2.462 12.996 1'/%3E%3C/svg%3E");
        background-position: 95% center;
        background-repeat: no-repeat;
        background-size: 5% auto;
        padding: .1em $size0;
        border-radius: #{$size0 + $size-2};
        @extend .whitney-small__bold;
        //font-size: 0.9em !important;
        
        &:focus {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='10' viewBox='0 0 15 10'%3E%3Cpolygon fill='%233C5976' points='7.68 5.965 2.364 1 1 2.462 7.68 8.701 14.36 2.462 12.996 1'/%3E%3C/svg%3E");
        }
      }

}

