<!DOCTYPE html>

#parse ($init)
#set($userAgent = $request.getHeader("User-Agent").toLowerCase())
#set($is_bot = false)
#if($userAgent.matches(".*(bot|Bot|xenu|Xenu|spider|Spider|aggregator|Aggregator|Thirdwave|thirdwave).*")) 
    #set($is_bot = true)
#end

<html class="no-js #language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>$the_title - $company_name</title>
  <meta name="google-site-verification" content="iMsEAZsT6-h_U3rB41bbxpCB49JA_ycS1A10eU6Ligc" />
  <meta name="google-site-verification" content="vT3ubvzyQ8I_4d3q4K-veEExjAoZb6AeiJQdhJbFyDw" />
  <meta name="p:domain_verify" content="eafcce325bedf4b964fbceca8133e366"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="shortcut icon" href="$images_folder/favicon.ico" />
  
  <script type="text/javascript" src="//use.typekit.net/xuv4ygv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <link href="//cloud.webtype.com/css/2f300d46-99ee-4656-bf09-870688012aaf.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7947314/7427752/css/fonts.css" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
  <script>
    if (!window.jQuery) {
      document.write('<script src="$javascript_folder/jquery.js" type="text/javascript"><\/script>');
    }
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" type="text/javascript"></script>
  <!--[if lt IE 9]>
    <script src="$javascript_folder/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  #set($userGroupRoleLocalService = $serviceLocator.findService("com.liferay.portal.service.UserGroupRoleLocalService"))
  #set ($hasRole = $userGroupRoleLocalService.hasUserGroupRole($user_id, $group_id, "Content Editor"))

  #if($hasRole)
    <script src="$javascript_folder/jquery.multiselect.min.js" type="text/javascript"></script>
    <script src="$javascript_folder/jquery.multiselect.filter.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
    <link href="$css_folder/jquery.multiselect.css" type="text/css" rel="stylesheet" />
    <link href="$css_folder/jquery.multiselect.filter.css" type="text/css" rel="stylesheet" />

  #end
  $theme.include($top_head_include)
  
  <link href="$css_folder/custom.css?3434dfsdfgh" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
</head>

#if ($page.getHTMLTitle($locale) == "Home")
  #set ($css_class = "$css_class homepage")
#end
#if ($page.getHTMLTitle($locale) == "Search")
  #set ($css_class = "$css_class searchresults")
#end

#set($layouttpl = $layout.getTypeSettingsProperties().getProperty("layout-template-id") + "-container")

<body class="loading $css_class $layouttpl#if ($is_bot) bot#end">

$theme.include($body_top_include)

#if ($is_signed_in)
  #dockbar()
#end

<div id="page" class="page">
  <a href="#main-content" id="skip-to-content" class="screen-reader hidden">#language("skip-to-content")</a>

  <header id="header" class="site-header" role="banner">

    <div class="type-ahead-search">
      <div class="container-fluid">
        <h2>Search</h2>
        #if (!$is_bot)
        	#set ($myPortletId = "lookaheadsearch_WAR_CustomPortletsportlet")
        	$theme.runtime($myPortletId)
        #end
      </div>
    </div> <!-- .type-ahead-search -->

    <div class="header-main">
    
        <label class="mobile-nav-main-label" for="mobile-nav-main-checkbox">Main Mobile Navigation</label>
        <input name="mobile-nav-main-checkbox" id="mobile-nav-main-checkbox" class="mobile-nav-main-checkbox hidden" type="checkbox" />
      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2 branding">
            <h1 class="site-title">
              <a href="$site_default_url" class="site-name" title="#language("go-to") $site_name">
                <span>$site_name</span>
                <img alt="$logo_description" src="$images_folder/CMAP-logomark.svg" class="logo" />
              </a>
            </h1>
          </div> <!-- .branding -->
          <div class="span8"></div>
          <nav class="span2 nav-meta">
            <ul class="items items-inline">
              <li class="events"><a href="/events" title="CMAP Events">Events</a></li>
              <li class="events"><a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=0017aa0wUARcS6ceXfGJ8QZ7A%3D%3D" title="Subscribe" target="_blank">Subscribe</a></li>
              <li class="search"><a href="#search" title="Search cmap.illinois.gov" class="icon">Search</a></li>
            </ul>
          </nav> <!-- .nav-meta -->

        </div> <!-- .row-fluid -->
      </div> <!-- .container-fluid -->
    </div> <!-- .header-main -->

    <div class="site-navigation">
      <div class="container-fluid">
        
        #if (!$is_bot)
          #set ($myPortletId = "taxonomynav_WAR_CustomPortletsportlet")
          $theme.runtime($myPortletId)
        #else
          <ul>
            <li><a href="/about">About</li>
            <li><a href="/programs-and-resources">Programs &amp; Resources</li>
            <li><a href="/livability">Livability</li>
            <li><a href="/mobility">Mobility</li>
            <li><a href="/economy">Economy</li>
            <li><a href="/data">Data</li>
            <li><a href="/contact-us">Contact Us</li>
          </ul>
        #end
      </div> <!-- .container-fluid -->
    </div> <!-- .site-navigation -->

  </header> <!-- #header .site-header -->

  #set($layouttpl = $layout.getTypeSettingsProperties().getProperty("layout-template-id"))
  <div id="content" class="site-main $layouttpl">
    #if ($selectable)
      $theme.include($content_include)
    #else
      $portletDisplay.recycle()
      $portletDisplay.setTitle($the_title)
      $theme.wrapPortlet("portlet.vm", $content_include)
    #end
  </div>

  #if ($theme_settings.display-footer == true)
    #parse ("$full_templates_path/footer.vm")
  #end
<div id="loadingStatus" class="loading-status">
<div class="loading-container row-fluid width-limit">
<div class="span2"> </div>
<div class="span1"><img src="/twitter-bootstrap-theme/images/custom/spinner.gif" /></div>
<div class="span9">
 Loading more updates...
</div>
</div>
</div>
 
 </div>

$theme.include($body_bottom_include)
#if ($hasRole)
  <script type="text/javascript">
  $(document).ready(function() {
  	$('.portlet select[multiple]:not(.ms-exempt)').multiselect({selectedList:1}).multiselectfilter();
  });
</script>
#end

<script src="$javascript_folder/production.min.js?38475743" type="text/javascript"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5494611e5b33a7e7" async="async"></script>
</body>

$theme.include($bottom_include)
</html>
